.query {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.25rem 0.5rem;
    font-size: 11px;
    border-radius: 3px;
    background-color: #f9fafb;
    word-break: break-word;
}
