// Needed to make sure cookie banner doesn't have white text on white background
// (Cards for the website are configured to have white background, but body text is also configured to be white).
// stylelint-disable-next-line selector-max-id
#CybotCookiebotDialog {
    color: $dark-9;
    opacity: 0.95;
}
