// stylelint-disable declaration-property-unit-whitelist
.footer {
    &__nav-sections {
        .nav-item > a {
            color: $gray-5;
            font-size: 0.9rem;
            font-weight: normal;
            padding: 0.25rem 0;
            display: inline-block;
        }
    }
    &__logo {
        background: url(/sourcegraph-logo.svg) no-repeat;
        background-size: 200px;
        height: 40px;
    }
    &__social,
    &__postscript {
        .nav-item > a {
            color: $text-muted;
            &:hover {
                color: rgba($text-muted, 0.8);
            }
        }
    }
    &__social {
        .nav-item > a {
            padding: 0.3rem 0.3rem;
        }
    }
    &__postscript {
        .nav-item > a {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: $navbar-nav-link-padding-x * 0.5;
            padding-right: $navbar-nav-link-padding-x * 0.5;
        }
    }

    &__newsletter-form-heading {
        opacity: 0.4;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bolder;
    }
}

.bg-black {
    .footer {
        &__logo {
            background: url(/sourcegraph-reverse-logo.svg) no-repeat;
        }
        &__nav-header,
        &__nav-sections .nav-item > a {
            color: $light !important;
        }
        &__postscript {
            .nav-item > a,
            .nav-item {
                color: $light !important;
                &:hover {
                    color: rgba($light, 0.8) !important;
                }
            }
        }
    }
}
