// stylelint-disable declaration-property-unit-whitelist
.header {
    transition: background 0.3s ease-in-out;

    .nav-item,
    .nav-link:not(:last-of-type) {
        margin-right: 10px;
    }

    .nav-link {
        color: $navbar-light-color;
        padding: 9px 5px;
        font-weight: 400;
        &:hover {
            color: $navbar-light-hover-color;
        }
        &.btn-primary {
            color: $white;
        }
        &.btn-outline-primary {
            color: $blurple;

            &:hover {
                background-color: $blurple;
                color: $white;
            }
        }
    }

    &.navbar-dark,
    &.navbar-purple,
    &.navbar-transparent {
        .nav .nav-link {
            color: $white;
        }
        .nav-link a {
            color: #fff;
        }
    }

    // Hide navbar toggler and mobile menu on desktop
    @media only screen and (min-width: 1100px) {
        #mobile-navbar,
        .navbar-toggler {
            display: none !important;
        }
    }

    @media only screen and (max-width: 1099px) {
        // Hide desktop navs on mobile
        .left-nav,
        .right-nav {
            display: none !important;
        }
        // dropdown sub menu
        .sub-menu {
            list-style: none;
            padding-inline-start: 5px;
            a {
                color: $navbar-light-color;
            }
            a:hover {
                text-decoration: none;
                color: $navbar-light-hover-color;
            }
        }
    }

    // Mobile menu toggle button
    .navbar-toggler {
        border: 0;
        padding: 8px 4px;
        width: 35px;
        height: 35px;
        position: relative;
        transition: 0.3s all ease-in-out;
    }

    // Mobile menu toggle button lines
    .nav-line {
        width: 100%;
        height: 2px;
        background: #000;
        transition: all 0.3s;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    &.navbar-dark .nav-line,
    &.navbar-purple .nav-line,
    &.navbar-transparent .nav-line {
        background: #fff;
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    // Mobile menu toggle button animation
    .navbar-toggler.isOpen {
        .nav-line:nth-of-type(1) {
            transform: translateY(7px) rotate(45deg);
        }
        .nav-line:nth-of-type(2) {
            animation: fadeOut 0.3s forwards;
        }
        .nav-line:nth-of-type(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
    }
}
