# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence

# The "nobody" team is an alerting mechanism that indicates when there are files in a PR that are
# not owned by anyone. This is a signal to the PR author that certain modified files are unowned and
# they need to (1) track down the owners using git blame and (2) update CODEOWNERS.
* @sourcegraph/nobody

/.github/CODEOWNERS @sqs
/handbook @sqs
/company @sqs
/workflow @christinaforney
/direction @christinaforney
/blogposts @sourcegraph/marketing
/website @sourcegraph/marketing
/docs @sourcegraph/marketing
/podcast @beyang

/handbook/product @christinaforney
/handbook/engineering @nicksnyder

/handbook/engineering/campaigns @sourcegraph/campaigns
/handbook/engineering/code-intelligence @sourcegraph/code-intel
/handbook/engineering/cloud @sourcegraph/cloud
/handbook/engineering/distribution @sourcegraph/distribution
/handbook/engineering/security @sourcegraph/security
/handbook/engineering/web @sourcegraph/web
/handbook/engineering/languages/go.md @sourcegraph/cloud
/handbook/engineering/languages/typescript.md @sourcegraph/web
/handbook/marketing @sourcegraph/marketing

/handbook/engineering/adding_ping_data.md @ebrodymoore @dadlerj
