# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence

/handbook/engineering @nicksnyder

/handbook/engineering/code-intelligence @sourcegraph/code-intel
/handbook/engineering/core-services @sourcegraph/core-services
/handbook/engineering/distribution @sourcegraph/distribution
/handbook/engineering/web @sourcegraph/web
