@import '@styles/colors';

.hero {
    background-image: url('/guides/dev-onboarding/hero-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 395px;
    @media only screen and (min-width: 576px) {
        background-image: url('/guides/dev-onboarding/hero.png');
        height: 516px;
    }
}

.formContainer {
    background: $light-gray-5;
}
