{{define "root"}}
	<html>
		<head>
			<title>{{block "title" .}}Home{{end}} - Sourcegraph</title>
			<link rel="stylesheet" type="text/css" href="{{asset "layout.css"}}" />
			<link rel="stylesheet" type="text/css" href="{{asset "content.css"}}" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			{{block "head" .}}{{end}}
		</head>
		<body>
			<header id="header">
				<div class="container">
					<a href="/" id="logo"><img src="{{asset "sourcegraph-logo.svg"}}" /></a>
					<nav>
						<form id="search-form" method="get" action="/search">
							<input type="text" id="search" name="q" value="{{block "query" .}}{{end}}" placeholder="Search handbook..." spellcheck="false" />
							<button id="search-button" type="submit">Search</button>
						</form>
						<a href="https://about.sourcegraph.com">About</a>
						<a href="https://sourcegraph.com">Sourcegraph.com</a>
					</nav>
				</div>
			</header>
			<div id="page">
				<div class="container">
					{{block "content" .}}{{end}}
				</div>
			</div>
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40540747-20"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());	
				gtag('config', 'UA-40540747-17' {{/* TODO(sqs): verify this is correct */}});
			</script>
		</body>
	</html>
{{end}}

{{define "index"}}
	{{with (or (and (eq (len .Doc.Tree) 1) (index .Doc.Tree 0).Children) .Doc.Tree)}}
		<h4 class="visible-sm">{{$.Doc.Title}}</h4>
		<h4 class="visible-lg">On this page:</h4>
		<ul>{{template "doc_nav" .}}</ul>
	{{end}}
	<a class="page-btn" href="https://github.com/sourcegraph/about/edit/master/{{.FilePath}}">Edit this page</a>
	<a class="page-btn" href="https://sourcegraph.com/github.com/sourcegraph/about@master/-/blob/{{.FilePath}}#tab=history">History</a>
{{end}}
{{define "doc_nav"}}
	{{range .}}
		<li>
			<a href="{{.URL}}">{{.Title}}</a>
			{{with .Children}}
				<ul>
					{{template "doc_nav" .}}
				</ul>
			{{end}}
	{{end}}
{{end}}
