.link-post {
    overflow: hidden;

    &__html {
        // Allow title to be the first sentence of the post.
        p:nth-child(1),
        p:nth-child(2) {
            display: inline;
        }
    }
}
