.release-post {
    &__description {
        padding: var(--blog-post-padding);
        margin-bottom: 0;
    }

    &__changelog-header {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $secondary;
        text-transform: uppercase;
    }

    &__item {
        &-category {
            display: inline-block;
            flex: 0 0 20%;
            max-width: 10rem;
            padding-right: map-get($spacers, 3);
            &-badge {
                @extend .badge;
                border: solid 1px var(--primary);
                color: var(--primary);
                font-size: $h6-font-size;
            }
        }

        &-description {
            flex: 1;
            min-width: 20rem;
            color: var(--body-color);
            p:last-child {
                margin-bottom: 0;
            }
        }

        &:hover {
            background-color: var(--light);
            text-decoration: none;
        }
    }

    &__body {
        > p:last-child {
            margin-bottom: 0;
        }
    }
}
