.customer-logos-section {
    max-width: 1920px !important;
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
    &__header {
        font-size: $font-size-base;
        padding: 0 15px;
    }

    $max-width: 135px;
    &__item {
        max-width: $max-width;
        margin-bottom: 0;
        line-height: 1.15;
        margin: 0 30px;
        &-logo {
            // stylelint-disable-next-line declaration-property-unit-whitelist
            height: 50px;
            max-width: $max-width;
            margin-bottom: 0.5rem;
            // filter: grayscale(100%) contrast(130%);
            // opacity: 0.5;
        }
    }
}

.full-color {
    .customer-logos-section__item-logo {
        filter: none;
        opacity: 100;
    }
}

.customer-logos-section__item-logo-animation {
    transition: 300ms ease all;
}

.customer-container-outer {
    height: 280px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.customer-container-inner {
    height: 280px;
    position: relative;
    flex-shrink: 0;
}

.sourcegraph-cta-button {
    background: #e6f0fd;
    color: #5c99f1 !important;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    padding: 35px;
    position: absolute;
    transform-origin: top left;
    cursor: pointer;
    text-decoration: none !important;
    z-index: 1;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
    font-size: 17px;
}

.sourcegraph-cta-button-edge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #5c99f1;
    overflow: hidden;
    z-index: 1;
}

.hidden {
    display: none !important;
}

.sourcegraph-cta-button-bottom {
    background: #e6f0fd;
    color: #5c99f1 !important;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 35px;
    cursor: pointer;
    text-decoration: none !important;
}

.sourcegraph-cta-button-bottom:hover {
    opacity: 0.5;
}

.sourcegraph-cta-link-bottom {
    text-decoration: none !important;
}

.sourcegraph-cta-bottom-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.customer-container-outer:hover .customer-logos-section__item-logo-animation {
    opacity: 0.5;
    transform: scale(0.9);
}

@media screen and (max-width: 991px) {
    .customer-container-outer {
        height: 320px;
    }

    .customer-container-outer:hover .customer-logos-section__item-logo-animation {
        opacity: 1;
        transform: scale(1);
    }
}
