/**
 * Sourcegraph Brand Colors
 * See: https://handbook.sourcegraph.com/departments/marketing/brand/brand_guidelines/color/
 */

// Sourcegraph Primary Colors
$sky-blue: #00cbec;
$vivid-violet: #a112ff;
$vermillion: #ff5543;

// Sourcegraph Secondary Colors
$yellow-mist: #fff2cf;
$red-mist: #ffc9c9;
$violet-mist: #e8d1ff;
$plum-mist: #bfbfff;
$blue-mist: #c7ffff;
$green-mist: #c4ffe8;
$mint: #8fedcf;
$blurple: #5033e1;
$pacific-blue: #00a1c7;

// Sourcegraph Colors for Website UI
$pale-sky: #6c757d;
$space-black: #000000;

// Colors not listed in our Brand Guidelines
$dark-9: #1d2535;
$dark-8: #222233;
$dark-5: #39496a;
$dark-3: #475c85;

$light-1: #6d84b0;
$light-2: #7a8fb8;
$light-5: #a2b0cd;
$light-6: #afbcd4;
$light-8: #cad2e2;
$light-9: #d7ddea;
$light-gray-0: #dddddd;
$light-gray-1: #dee2e6;
$light-gray-2: #e4e9f1;
$light-gray-3: #f2f4f8;
$light-gray-4: #f9fafb;
$light-gray-5: #f5f5f5;

$green-1: #d3f9d8;
$green-5: #51cf66;
$green-7: #37b24d;
$green-9: #2b8a3e;

$alabaster: #f9f9f9;
$light-blue: #d5e6f7;
$light-green: #bceee9;
$turquoise: #66d9e8;
$malibu: #72c3fc;
$curious-blue: #1c7cd6;
$cornflower-blue: #5c7cfa;
$dodger-blue: #2c7ef6;

/**
 * Bootstrap Theme Colors
 * This allows us to use text-{colorName} and bg-{colorName} utility classes
 */
$theme-colors: (
    // Bootstrap overrides
    'primary': $blurple,

    // Sourcegraph Primary Colors
    'sky-blue': $sky-blue,
    'vivid-violet': $vivid-violet,
    'vermillion': $vermillion,

    // Sourcegraph Secondary Colors
    'yellow-mist': $yellow-mist,
    'red-mist': $red-mist,
    'violet-mist': $violet-mist,
    'plum-mist': $plum-mist,
    'blue-mist': $blue-mist,
    'green-mist': $green-mist,
    'mint': $mint,
    'blurple': $blurple,
    'pacific-blue': $pacific-blue,

    // Sourcegraph Colors for Website UI
    'pale-sky': $pale-sky,
    'black': $space-black,

    // Colors not listed in our Brand Guidelines
    'dark-9': $dark-9,
    'dark-8': $dark-8,
    'dark-5': $dark-5,
    'dark-3': $dark-3,

    'light-1': $light-1,
    'light-2': $light-2,
    'light-5': $light-5,
    'light-6': $light-6,
    'light-8': $light-8,
    'light-9': $light-9,
    'light-gray-0': $light-gray-0,
    'light-gray-1': $light-gray-1,
    'light-gray-2': $light-gray-2,
    'light-gray-3': $light-gray-3,
    'light-gray-4': $light-gray-4,
    'light-gray-5': $light-gray-5,

    'green-1': $green-1,
    'green-5': $green-5,
    'green-7': $green-7,
    'green-9': $green-9,

    'alabaster': $alabaster,
    'light-blue': $light-blue,
    'light-green': $light-green,
    'turquoise': $turquoise,
    'malibu': $malibu,
    'curious-blue': $curious-blue,
    'cornflower-blue': $cornflower-blue,
    'dodger-blue': $dodger-blue
);
