@use 'sass:color';
@import '@styles/colors';

/**
 * Sourcegraph Brand Gradients
 * See: https://handbook.sourcegraph.com/departments/marketing/brand/brand_guidelines/color/#gradients
 */

/**
 * Sourcegraph Gradients
 * Note: These are slightly adjusted and not true to the Brand Guidelines
 * due to following Figma designs provided.
 */
@mixin GradientVenusSaturated {
    background: linear-gradient(
        90deg,
        color.adjust($blue-mist, $alpha: -0.7) 14.33%,
        color.adjust($mint, $alpha: -0.7) 81.79%
    );
}
@mixin GradientVenusRadial {
    background: radial-gradient(ellipse at top left, rgba($blue-mist, 0.5), transparent),
        radial-gradient(ellipse at bottom right, rgba($green-mist, 0.5), transparent);
}
@mixin GradientSaturnSaturated {
    background: linear-gradient(
        90deg,
        color.adjust($blue-mist, $alpha: -0.7) 14.33%,
        color.adjust($violet-mist, $alpha: -0.7) 81.79%
    );
}

// Gradients not listed in our Brand Guidelines
@mixin GradientGreenBlue {
    background: linear-gradient(90deg, $light-green 0%, $light-blue 100%);
}
@mixin GradientBlueGreen {
    background: linear-gradient(90deg, $light-blue 0%, $light-green 100%);
}
@mixin GradientBlueVioletMist {
    background: linear-gradient(90deg, $light-blue 0%, $violet-mist 100%);
}
@mixin GradientVioletYellowMist {
    background: linear-gradient(90deg, $violet-mist 0%, $yellow-mist 100%);
}
@mixin GradientYellowGreenMist {
    background: linear-gradient(90deg, $yellow-mist 0%, $green-mist 100%);
}
@mixin GradientGreenRedMist {
    background: linear-gradient(90deg, $light-green 0%, $red-mist 100%);
}
@mixin GradientRedPlumMist {
    background: linear-gradient(90deg, $red-mist 0%, $plum-mist 100%);
}
@mixin GradientPlumMistBlue {
    background: linear-gradient(90deg, $plum-mist 0%, $light-blue 100%);
}

// Sourcegraph Gradients - utility classes
.bg-gradient-venus-saturated {
    @include GradientVenusSaturated;
}
.bg-gradient-venus-radial {
    @include GradientVenusRadial;
}
.bg-gradient-saturn-saturated {
    @include GradientSaturnSaturated;
}

// Gradients not listed in our Brand Guidelines - utility classes
.bg-gradient-green-blue {
    @include GradientGreenBlue;
}
.bg-gradient-blue-green {
    @include GradientBlueGreen;
}
.bg-gradient-blue-violet-mist {
    @include GradientBlueVioletMist;
}
.bg-gradient-violet-yellow-mist {
    @include GradientVioletYellowMist;
}
.bg-gradient-yellow-green-mist {
    @include GradientYellowGreenMist;
}
.bg-gradient-green-red-mist {
    @include GradientGreenRedMist;
}
.bg-gradient-red-plum-mist {
    @include GradientRedPlumMist;
}
.bg-gradient-plum-mist-blue {
    @include GradientPlumMistBlue;
}
