// stylelint-disable declaration-property-unit-whitelist
code[class*='language-'],
pre[class*='language-'] {
    color: #657b83;
    font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background-color: #f2f4f8;
}

:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #93a1a1;
}

.token.punctuation {
    color: #586e75;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #268bd2;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
    color: #2aa198;
}

.token.entity {
    color: #657b83;
    background: #eee8d5;
    cursor: help;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #859900;
}

.token.function {
    color: #b58900;
}

.token.regex,
.token.important,
.token.variable {
    color: #cb4b16;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}
