// stylelint-disable declaration-property-unit-whitelist
// stylelint-disable selector-max-id

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

@import 'colors';
@import 'prism';

$brand-primary: $dark-9;

$theme-colors: (
    'dark': $dark-9,
    'light': $light-10,
);

$jumbotron-padding: 60px;

$popover-arrow-width: 0;
$popover-arrow-color: transparent;
$popover-arrow-outer-color: transparent;
$popover-max-width: 400px;

@import 'node_modules/bootstrap/scss/bootstrap';

// layout

html,
body,
#___gatsby {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    color: $dark-7;
}

// global

ul {
    padding-left: 2.5rem;
}

ol {
    padding-left: 2rem;
    li {
        &:first-child {
            margin-top: 1rem;
        }
        margin-bottom: 1rem;
    }
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#integrations-btns {
    &.btn-group {
        @media (max-width: $media-md) {
            flex-direction: column;
        }
    }
    .btn-outline-primary {
        padding: 0.5rem 1rem;
        color: $dark-7;
        background-color: transparent;
        border-color: $light-10;
        @media (max-width: $media-sm) {
            width: 100%;
        }
        &:hover {
            background-color: $light-11;
            color: $dark-11;
        }
        img {
            height: 2.5rem;
            margin: auto;
            margin-right: 0.5rem;
            padding: 0;
            width: auto;
            border-radius: 0;
        }
    }
}

.jumbotron {
    padding: 3rem;
    margin-bottom: 0;
    @media (max-width: $media-md) {
        padding: 2rem 1rem;
    }
}

//utilities

.bg-sprinkles {
    background: url('/c-sprinkles.png') no-repeat;
    background-size: cover;
    @media screen and (max-width: $media-md) {
        background: url('/c-sprinkles-blur.png') no-repeat;
        background-size: 220%;
    }

    background-color: $dark-10;
}

.pre-wrap {
    white-space: pre-wrap;
}

.virtual-br::before {
    content: '\A';
}

.light-11-bg {
    background-color: $light-11 !important;
}

.flex-grow {
    flex-grow: 1;
    flex-basis: 50%;
}

.fill-height {
    flex: 1 0 auto;
}

.container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
}

.material-icons {
    margin-right: 4px;
    fill: currentColor;
}

.icon {
    width: 24px;
    height: 24px;
    svg path {
        fill: $dark-7;
    }
}

// type
p {
    margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1,
.h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2,
.h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3,
.h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h4,
.h4 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h5,
.h5 {
    font-size: 0.75rem;
    line-height: 1rem;
}

h6,
.h6 {
    font-size: 0.5rem;
    line-height: 0.875rem;
}

.small,
small {
    font-size: 0.75rem;
    line-height: 1rem;
}

// code
pre {
    border-radius: 0.25rem;
    background-color: $light-11 !important;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

code,
.code {
    font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
    word-wrap: break-word;
}

.code-toolbar {
    position: relative;
    .toolbar {
        position: absolute;
        top: 0;
        right: 0;
        .toolbar-item {
            color: $dark-1;
            cursor: pointer;
            padding: 0.375rem 0.75rem;
            font-size: 0.75rem;
            line-height: 1rem;
            border-radius: 0.25rem;
            &:hover {
                color: $dark-11;
            }
        }
    }
}

//links

a {
    color: $blue-7;
    &:hover {
        color: #1862ab;
        text-decoration: none;
    }
}

.underline {
    text-decoration: underline;
}
.strikethrough {
    text-decoration: line-through;
}

// alert

.alert {
    padding: 1rem;
    color: $dark-7;
    border: transparent;
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    &-success {
        background-color: $green-1;
    }
    &-info,
    &-primary {
        background-color: $blue-1;
    }
    &-warning {
        background-color: $yellow-1;
    }
    &-danger {
        background-color: $red-1;
    }
    &-secondary {
        background-color: $light-11;
    }

    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

// Utilities
.d-sm-n {
    @media screen and (max-width: $media-sm) {
        display: none;
    }
}
.d-md-n {
    @media (min-width: $media-sm) and (max-width: $media-md) {
        display: none;
    }
}
.d-lg-n {
    @media (min-width: $media-md) and (max-width: $media-lg) {
        display: none;
    }
}
.d-xl-n {
    @media (min-width: $media-xl) {
        display: none;
    }
}

.popover {
    // Prevent a child element with non-rounded corners from extruding.
    // overflow: hidden;

    border: 0;
}

@import 'components/ProductPopover';
@import 'components/content/ContentPage';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Testimonials';
@import 'pages/404';
@import 'pages/about';
@import 'pages/browser';
@import 'pages/blog';
@import 'pages/blog-post';
@import 'pages/content';
@import 'pages/index';
@import 'pages/jobs';
@import 'pages/plan';
@import 'pages/pricing';
@import 'pages/sales';
@import 'pages/uninstall';

@import '../pages/pricing/PricingPlan.scss';
