// stylelint-disable declaration-property-unit-whitelist
// stylelint-disable selector-max-id

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';

@import 'colors';

$font-family-sans-serif: 'Open Sans';
$font-family-base: 'Open Sans';
$headings-font-family: 'Circular';

$blue: #2c7ef6;
$brand-purple: #b200f8;
$brand-cyan: #00b4f2;
$brand-orange: #f96316;
$colors: (
    'blue': $blue,
    'brand-purple': $brand-purple,
    'brand-cyan': $brand-cyan,
    'brand-orange': $brand-orange,
);

$theme-colors: (
    'primary': darken($blue, 9%),
    'dark': $dark-9,
    'light': $light-11,
    'purple': $violet-9,
);

$brand-primary: $brand-purple;

$grid-gutter-width: 18px;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1192px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1160px,
);

$border-radius: 0.125rem;
$border-radius-lg: 0.25rem;
$border-radius-sm: 0.1rem;

$font-weight-semibold: 600;
$font-weight-bold: $font-weight-semibold; // uses Open Sans SemiBold
$font-weight-bolder: 700; // uses Open Sans Bold

$input-btn-padding-y: 0.55rem;

@import 'node_modules/bootstrap/scss/variables';

// Set variables that rely on Bootstrap variables.

$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: $spacer,
    4: (
        $spacer * 1.5,
    ),
    5: (
        $spacer * 2,
    ),
    6: (
        $spacer * 4,
    ),
);

$body-bg: $black;
$body-color: $white;

$border-color: $gray-900;

$hr-border-color: rgba($white, 0.15);

$display1-size: 5rem;
$display2-size: 4.5rem;
$display3-size: 3.5rem;
$display4-size: 2.9rem;

$navbar-nav-link-padding-x: 1.25rem;
$navbar-dark-color: $body-color;
$navbar-dark-hover-color: rgba($body-color, 0.75);
$navbar-dark-active-color: rgba($body-color, 0.875);

$btn-padding-x: 1.5rem;
$btn-font-weight: 600;

$input-bg: $gray-900;
$input-color: $body-color;
$input-box-shadow: none;
$input-border-color: $gray-900;
$input-focus-bg: $input-bg;
$input-focus-color: $body-color;
$input-placeholder-color: $gray-600;
$input-focus-border-color: darken($component-active-bg, 25%);
$input-focus-box-shadow: none;

$popover-arrow-width: 0;
$popover-arrow-color: transparent;
$popover-arrow-outer-color: transparent;
$popover-max-width: 400px;

@import 'node_modules/bootstrap/scss/root';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/utilities';

html,
body,
#___gatsby {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    margin-right: 4px;
    fill: currentColor;
}

.popover {
    // Prevent a child element with non-rounded corners from extruding.
    // overflow: hidden;

    border: 0;
}

@import 'circular-font';
@import 'components/ProductPopover';
@import 'components/content/ContentPage';
@import 'components/content/ContentSection';
@import 'components/product/ProductFeatures';
@import 'components/product/CustomerLogosSection';
@import 'components/product/IntegratesWithSection';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Testimonials';
@import 'pages/404';
@import 'pages/about';
@import 'pages/browser';
@import 'pages/blog';
@import 'pages/blog-post';
@import 'pages/content';
@import 'pages/index';
@import 'pages/jobs';
@import 'pages/plan';
@import 'pages/pricing';
@import 'pages/sales';
@import 'pages/uninstall';

@import '../pages/pricing/PricingPlan.scss';
