// stylelint-disable declaration-property-unit-whitelist
// stylelint-disable selector-max-id

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';

@import 'colors';

$font-family-sans-serif: 'Open Sans';
$font-family-base: 'Open Sans';
$headings-font-family: 'Circular';

$blue: #2c7ef6;
$red: #dc3545;
$brand-purple: #b200f8;
$brand-cyan: #00b4f2;
$brand-orange: #f96316;
$colors: (
    'blue': $blue,
    'brand-purple': $brand-purple,
    'brand-cyan': $brand-cyan,
    'brand-orange': $brand-orange,
);

$theme-colors: (
    'primary': darken($blue, 9%),
    'dark': $dark-9,
    'light': $light-11,
    'purple': $brand-purple,
    'gray': #dddddd,
    'pink': lighten($red, 35%),
    'light-orange': lighten($brand-orange, 35%),
    'orange': $brand-orange,
);

$brand-primary: $brand-purple;

$grid-gutter-width: 25px;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 820px,
    lg: 1192px,
);
$container-max-widths: (
    sm: 540px,
    md: 800px,
    lg: 1160px,
);

$border-radius: 0.125rem;
$border-radius-lg: 0.25rem;
$border-radius-sm: 0.1rem;

$font-weight-semibold: 600;
$font-weight-bold: $font-weight-semibold; // uses Open Sans SemiBold
$font-weight-bolder: 700; // uses Open Sans Bold

$input-btn-padding-y: 0.55rem;

@import 'node_modules/bootstrap/scss/variables';

// Set variables that rely on Bootstrap variables.

$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: $spacer,
    4: (
        $spacer * 1.5,
    ),
    5: (
        $spacer * 2,
    ),
    6: (
        $spacer * 4,
    ),
);

$body-bg: $black;
$body-color: $white;

$border-color: $gray-900;

$display1-size: 5rem;
$display2-size: 4.5rem;
$display3-size: 3.5rem;
$display4-size: 2.9rem;

$navbar-nav-link-padding-x: 1.25rem;
$navbar-dark-color: $body-color;
$navbar-dark-hover-color: rgba($body-color, 0.75);
$navbar-dark-active-color: rgba($body-color, 0.875);

$btn-padding-x: 1.5rem;
$btn-font-weight: 600;

$input-bg: $gray-900;
$input-color: $body-color;
$input-box-shadow: none;
$input-border-color: $gray-900;
$input-focus-bg: $input-bg;
$input-focus-color: $body-color;
$input-placeholder-color: $gray-600;
$input-focus-border-color: darken($component-active-bg, 25%);
$input-focus-box-shadow: none;

$list-group-action-hover-color: $link-hover-color;

$popover-arrow-width: 0;
$popover-arrow-color: transparent;
$popover-arrow-outer-color: transparent;
$popover-max-width: 400px;

@import 'node_modules/bootstrap/scss/root';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/media';
@import 'node_modules/bootstrap/scss/list-group';
@import 'node_modules/bootstrap/scss/tooltip';
@import 'node_modules/bootstrap/scss/popover';
@import 'node_modules/bootstrap/scss/carousel';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/alert';

html,
body,
#___gatsby {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    margin-right: 4px;
    fill: currentColor;
}

.popover {
    // Prevent a child element with non-rounded corners from extruding.
    // overflow: hidden;

    border: 0;
}

.text-sans-serif {
    font-family: $font-family-sans-serif;
}

.popover-body {
    border: solid 1px $gray-200;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 9px 3px;
    background-color: white;
}

// Formats an icon so that it appears inline in the text
// with height matching the text
.icon-inline {
    // SVGs already include padding to account for text baseline,
    // so align with the bottom of the text
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
}
svg.icon-inline,
img.icon-inline,
.icon-inline svg,
.icon-inline img {
    // TODO find a better way to scale icons that is not proportional to the font size
    // 14px font size -> 20px icon size
    // stylelint-disable-next-line declaration-property-unit-whitelist
    width: (20em / 14);
    // stylelint-disable-next-line declaration-property-unit-whitelist
    height: (20em / 14);
    // Match color of the text
    fill: currentColor;
}

.container-lg {
    max-width: var(--breakpoint-lg);
    margin-left: auto;
    margin-right: auto;
}

code {
    background-color: #f2f4f8;
    display: inline-block;
    padding: 0.1rem 0.3rem;
    font-size: 0.9em;
}

pre {
    code {
        color: #f2f4f8;
        background: #444;
        width: 100%;
        padding: 1rem;
    }
}

@import 'circular-font';
@import 'components/ProductPopover';
@import 'components/content/ContentPage';
@import 'components/content/ContentSection';
@import 'components/product/CustomerLogosSection';
@import 'components/product/GitLabIntegrationSection';
@import 'components/product/IntegratesWithSection';
@import 'components/product/UseCasesTable';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Cookiebot';
@import 'components/Events';
@import 'components/Tweets';
@import 'components/PricingTable';
@import 'components/IconItem';
@import 'components/TestimonialCarousel';
@import 'pages/404';
@import 'pages/about';
@import 'pages/browser';
@import 'pages/blog';
@import 'pages/blog-post';
@import 'pages/_case_studies';
@import 'pages/content';
@import 'pages/index';
@import 'pages/jobs';
@import 'pages/landing-page';
@import 'pages/news';
@import 'pages/plan';
@import 'pages/pricing';
@import 'pages/product/code-search-navigation';
@import 'pages/product/code-change-management';
@import 'pages/sales';
@import 'pages/uninstall';
@import 'pages/universal-code-search';
@import 'components/PricingPlan';
@import 'components/Vimeo';
@import 'components/PrismTheme';
