@import '@styles/colors';

.windowUI {
    border-radius: 20px;
    box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.windowActions {
    background-color: $light-gray-6;
    height: 45px;
}

.windowAction {
    width: 14px;
    height: 14px;
}

.icon {
    width: 35px;
    height: 35px;
}

@keyframes flashBackground {
    0% {
        background: $yellow-mist;
    }
    100% {
        background-color: none;
    }
}

.flashBackground {
    animation: flashBackground 1s ease-out;
}
