.pricing-plan {
    &__description {
        // Equal height for all plans' descriptions.
        min-height: 104px;
    }

    &__price {
        &-amount {
            font-size: 58px;
        }
        &-caption {
        }
    }
    &__button {
        font-size: 18px;
        min-width: 140px;
    }
}
