.batch-changes-page {
    &__hero-and-header {
        background-image: url('/batch-changes/hero_illustration.svg'), url('/batch-changes/hero_background.svg'),
            // Fallback while the SVGs are loading
            radial-gradient(ellipse at bottom right, rgba($indigo-5, 0.5), transparent),
            radial-gradient(ellipse at bottom left, rgba($cyan-3, 0.5), transparent);
        background-repeat: no-repeat, no-repeat;
        background-size: auto 113%, 100% 100%;
        background-position: center right 15%, top left;
    }
}
