.pricing-plan-feature {
    font-size: 1.125rem;

    &__icon-true {
        color: var(--success);
        margin-right: 0.5rem;
    }

    &__value-false {
        color: #7e7e7e;
    }
    &__icon-false {
        visibility: hidden;
    }

    &__help {
        color: #ccc;
    }
}
