.pricing-plan {
    height: 100%;

    .card-body {
        flex: 0 1 auto;
    }

    &__title {
        font-size: 2.875rem;
        line-height: 3.75rem;
    }

    &__price {
        font-size: 1.125rem;
    }

    &__button {
        min-width: 140px;
        max-width: 256px;

        font-size: 18px;
    }

    &__features {
        padding-left: 64px;
        padding-right: 64px;
    }

    &--team {
        .pricing-plan__features {
            padding: 0;
        }

        .pricing-plan-feature {
            color: #676767;
        }
    }
}
