.blog-post-list-item {
    &__image {
        max-width: 100%;
        max-height: 250px;
    }

    &__byline {
        opacity: 0.7;
        text-align: center;
    }

    &__read-more {
        color: $blue-7;
        font-weight: bold;
    }
}
