.posts-list {
    &__post {
        margin-bottom: map-get($spacers, 5);

        &-title {
            font-size: $h5-font-size;
            a {
                color: $body-color;
                display: block;
            }
        }
    }
}
