.legendList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    // Reset ul styles (bullets, paddings, margins)
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.legendItem {
    display: flex;
    align-items: baseline;
    font-size: 12px;

    @media only screen and (max-width: 768px) {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.legendMark {
    align-self: baseline;
    width: 0.5rem;
    height: 0.5rem;
    flex-shrink: 0;
    margin-right: 0.25rem;
    border-radius: 50%;
}
