@import '@styles/colors';

.landingHeader {
    background: url('/customers-page-bg.svg') no-repeat;
    background-size: cover;
}
.pageHeader {
    min-height: 587px;
    position: relative;
    background-image: url('/code-insights/code-insights-page-bg.svg'),
        // Fallback while the SVGs are loading
        radial-gradient(ellipse at bottom left, rgba($green-mist, 0.5), transparent);
    background-repeat: no-repeat;
    background-size: cover;
}
