@import '@styles/colors';

.landingHeader {
    background: url('/customers-page-bg.svg') no-repeat;
    background-size: cover;
}
.pageHeader {
    min-height: 587px;
    position: relative;
    background-image: url('/code-insights/code-insights-page-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
