.carousel {
    ul {
        list-style-type: none;
    }

    li {
        font-size: 1.13em;
        line-height: 2.5em;
        opacity: 0.3;
    }

    li.active {
        font-weight: bold;
        opacity: 1;
    }

    img {
        width: 300px;
    }
}
