// comparison table
.comparison-table {
    margin: 1rem 0;

    td div {
        display: flex;
        margin: 0;
        .material-icons {
            margin-right: 0.5rem;
        }
    }
}

.comparison-icon {
    float: left;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    align-self: center;
    flex-shrink: 0;

    &__check {
        svg path {
            fill: $green-7;
        }
        margin-right: 0.5rem;
    }

    &__close {
        svg path {
            fill: $vermillion;
        }
        margin-right: 0.5rem;
    }
}

.table-row {
    &-mobile {
        flex-direction: column;
        text-align: left;
        margin: auto auto;
        table-layout: fixed;

        &-feature {
            padding: 1rem;
            margin-top: 1rem;
            border: 1px solid $light-8;
            border-bottom: 0;
        }

        &-row {
            display: flex;
            text-align: left;
            margin: auto auto;
            table-layout: fixed;
            border: 1px solid $light-8;
            align-items: center;
            &-label {
                width: 50%;
                flex-shrink: 0;
                padding: 1rem;
            }
            &-notes {
                margin: 0;
                align-self: center;
            }
        }
    }
}
