#CybotCookiebotDialog,
#CybotCookiebotDialog a,
#CybotCookiebotDialog div,
#CybotCookiebotDialogBodyContentControls,
#CybotCookiebotDialogBodyContentTitle,
#CybotCookiebotDialogBodyButtons a {
    font-family: Circular!important;
}
#CybotCookiebotDialog {
    opacity: .90 !important;
}
#CybotCookiebotDialogBodyContent,
#CybotCookiebotDialogBodyContentTitle {
    font-weight:300!important;
}
#CybotCookiebotDialogBody {
    max-width: 1000px!important;
}
#CybotCookiebotDialogBodyButtonDetails {
    display: none!important;
}	
#CybotCookiebotDialog a,
#CookiePolicyLink a {
  color: #0a65ea;
  text-decoration: none;
}
#CybotCookiebotDialogBodyButtonDecline {
   background-color:transparent!important;
   border: none!important;
   color: #0a65ea!important;
   font-weight: 300;
}
#CybotCookieDialogBodyButtonDecline:hover
#CookiePolicyLink a:hover {
   color: #0745a1!important;
   text-decoration: underline;
}
#CybotCookiebotDialogBodyButtonAccept {
   color: #fff!important;
}
#CybotCookiebotDialogBodyButtons .CybotCookiebotDialogBodyLink:hover, 
#CybotCookiebotDialogBodyLevelDetailsButton:hover {
   color: #0745a1!important;
}
#CybotCookiebotDialogBodyButtonAccept {
   float: left;
}
