.sidebar {
    .doc-search {
        margin-bottom: 1rem;
        position: relative;
        .material-icons {
            position: absolute;
            right: 12px;
            top: 8px;
            color: $dark-1;
        }
        input {
            padding: 7px 43px 7px 11px;
            border: 1px solid $light-10;
            border-radius: 4px;
            color: $dark-7;
        }
    }

    &__item {
        display: flex;
        padding: 7px;
        color: $dark-1;
        &:hover {
            color: $dark-11;
        }
        &.active {
            background-color: $blue-7;
        }

        &-action {
            border-color: $light-10;
            border-top: transparent;
            border-bottom: transparent;
            cursor: pointer;
            &.active {
                color: $light-12;
            }
            &.child {
                padding-left: 1rem;
            }
            &.grandchild {
                padding-left: 2rem;
            }
            &:first-child:not(.active) {
                border-top: 1px solid $light-10;
            }
            &:last-child:not(.active) {
                border-bottom: 1px solid $light-10;
            }
        }

        &.parent {
            &.disabled {
                background-color: $light-11;
                cursor: default;
                color: $dark-7;
                outline: none;
            }
            font-size: 0.75rem;
            line-height: 1rem;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            .material-icons {
                font-size: 1rem;
            }
        }
    }
}
