.footer__block {
    background: $dark-10;
    color: $light-2;
    padding: 4rem 0 1rem 0;
    overflow: hidden;
    .small__contact {
        padding-top: 1.5rem;
        margin-bottom: -2rem;
        @media screen and (min-width: $media-md) {
            display: none;
        }
    }
    .logo__section {
        a {
            color: $light-6;
        }
        .footer__logo {
            padding: 0 0 1.25rem 0;
            margin: 0 0 0 -8px;
        }
        @media screen and (max-width: $media-md) {
            padding-bottom: .2rem;
            margin-top: -2.5rem;

            .footer__contact {
                display: none;
            }
        }
    }

    .footer__extend {
        transition: all .3s ease-in-out;
        * {
            transition: all .3s ease-in-out;
        }
        h3 {
            cursor: pointer;
        }
        ul {
            overflow: hidden;
            padding-left: 0;
            li {
                @media screen and (max-width: $media-md) {
                    transition: all .3s ease-in-out;
                    position: relative;
                    top: -60px;
                    overflow: hidden;
                }
            }
           
        }
        @media screen and (min-width: $media-md) {
            input, .close--icon {
                display: none;
            }
        }
        @media screen and (max-width: $media-md) {
            &:last-of-type {
                border-bottom: solid 1px $light-2;
            }
            padding-top: 6px;
            border-top: solid 1px $light-2;
            &.community, &.company, &.features, &.resources {
                .close--icon {
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    top: calc(1rem - 8px);
                    right: 1rem;
                    transition: all .3s ease-in-out;
                    transform: rotate(-45deg);
                    svg {
                        height: 18px;
                        width: 18px;
                    }
                    svg path {
                        fill: $light-2;
                    }
                }
                li:last-child {
                    padding-bottom: .5rem;
                }
                input {
                    width: 100%;
                    height: 2rem;
                    position: absolute;
                    top: 0px;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 9999;
                    & + ul {
                        display: hidden;
                        height: 0px;
                        padding: 0;
                    }
                    &:checked + ul {
                        display: block;
                        height: 100%;
                    }
                    &:checked + ul li {
                        transition: all .3s ease-in-out;
                        display: block;
                        top: 0px;
                    }
                    &:checked ~ .close--icon {
                        transform: rotate(0deg);
                    }
                }
            }
        } 
    }

    .social__column {
        .icon {
            margin-left: 1rem;
            svg path {
                fill: $dark-1;
            }
            &:hover {
                svg path {
                    fill: $dark-11;
                }
            }
        }
        img,
        .btn {
            margin-bottom: 1rem;
        }
        .copyright {
            color: $dark-1;
        }
    }
    h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: .1rem;
    }
    ul {
        color: $light-6;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: 0.5rem;

            a {
                color: $light-6;
                &:hover {
                    color: $light-11;
                    text-decoration: underline;
                }
            }
        }
    }
    .copyright__container {
        margin: 3rem 0 0 0;
        padding-top: 1rem;
        border-top: 2px solid $dark-4;
        .copyright {
            float: left;
            @media screen and (max-width: $media-md) {
                float: none;
            }
        }
        .terms {
            float: right;
            a {
                margin-left: 2rem;
            }
            @media screen and (max-width: $media-md) {
                float: none;
                a:first-of-type {
                margin-left: 0rem;
                }
            }
        }
    }
}

.align-footer {
    align-content: flex-end !important;

    @media screen and (max-width: $media-lg) {
        padding-top: 2rem;
    }

    * {
        align-self: center;
    }
}
