// stylelint-disable declaration-property-unit-whitelist
.footer {
    &__container {
        max-width: var(--breakpoint-lg) !important;
        padding-left: $navbar-nav-link-padding-x;
        padding-right: $navbar-nav-link-padding-x;
    }

    &__nav-sections {
        .nav-item > a {
            color: $white;
            font-size: 0.9rem;
            padding: 0.25rem 0;
            display: inline-block;
        }
    }
    &__nav-header {
        opacity: 0.4;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bolder;
    }

    &__postscript {
        .nav-item > a {
            padding-top: 0;
            padding-bottom: 0;
            color: $text-muted;
            &:hover {
                color: rgba($text-muted, 0.8);
            }
            padding-left: $navbar-nav-link-padding-x * 0.5;
            padding-right: $navbar-nav-link-padding-x * 0.5;
        }
    }
}
