.get-started {
    padding: 3rem 0;
    textarea {
        font-family: $font-family-monospace;
        font-size: 0.8rem;
        width: 100%;
        outline: none;
        resize: none;
        background-color: $light-11;
        min-height: 150px;
        padding: 1.5rem;
    }
    .boxshadow {
        box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
    }
    &__search-headings {
        font-weight: 500;
        padding-bottom: 1rem;
    }
    &__installtext {
        position: relative;
        font-family: $font-family-monospace;
        font-size: 0.8rem;
        width: 100%;
        outline: none;
        resize: none;
        background-color: $light-12;
        min-height: 150px;
        padding: 1.5rem;
    }
    &__copytext {
        position: absolute;
        top: 0;
        right: 0;
        margin: 2px;
        color: #0a65ea;
    }
    &__copytext:hover {
        color: #0745a1;
    }
    &__local {
        border-right: 1px solid #dee2e6 !important;
        padding-right: 1.5rem;
    }
    &__search {
        padding-left: 1.5rem;
    }
    &__action {
        background-color: $light-11;
        border: 1px solid #dee2e6 !important;
        padding: 1.5rem;
        min-height: 150px;
        resize: none;
    }
    @media (max-width: 1023.98px) {
        &__local {
            border-right: none !important;
            padding-right: 15px;
        }
        &__search {
            border-top: 1px solid #dee2e6 !important;
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            padding-left: 1rem;
        }
    }
    @media (max-width: 465px) {
        textarea {
            padding: 0.75rem;
            min-height: 180px;
        }
    }
    @media (min-width: 768px) and (max-width: 1023.98px) {
        textarea {
            min-height: 150px;
        }
    }
    @media (min-width: 1024px) and (max-width: 1199.98px) {
        textarea {
            padding: 0.75rem 0.5rem;
            min-height: 170px;
        }
    }
}

.get-started.bg-gradient-green-blue {
    .boxshadow {
        box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
    }
    .btn-outline-primary,
    .get-started__action,
    textarea {
        background-color: $light-12;
    }
    .get-started__local {
        border-right: 1px solid $light-12 !important;
    }
    .btn-outline-primary:hover {
        background-color: #0745a1;
    }
    @media (max-width: 1023.98px) {
        .get-started__local {
            border-right: none!important;
        }
    }
}
