// stylelint-disable declaration-property-unit-whitelist
.header {
    &__logo {
        background: url(/sourcegraph-logo.svg) no-repeat;
        background-size: 150px;
        width: 150px;
        height: 26px;

        &-image {
            height: 26px;
            margin-bottom: 0.125rem;
        }
    }

    &__nav-item {
        display: flex;
        align-items: center;
    }
    &__nav-link {
        color: $dark;
    }
}

.darkBackground {
    .header {
        &__logo {
            background: url(/sourcegraph-reverse-logo.svg) no-repeat;
            background-size: 150px;
            width: 150px;
            height: 26px;
        }
        &__nav-link {
            color: $light;
        }
        &__nav-link:hover {
            color: $light-6;
        }
    }
}
