// stylelint-disable declaration-property-unit-whitelist
.header {
    &__logo {
        background: url(/sourcegraph-logo.svg) no-repeat;
        background-size: 150px;
        width: 150px;
        height: 26px;

        &-image {
            height: 26px;
            margin-bottom: 0.125rem;
        }
    }

    &__nav-item {
        display: flex;
        align-items: center;
    }
    &__nav-link.btn:hover {
        color: $light !important;
    }
}

.darkBackground {
    .header {
        &__logo {
            background: url(/sourcegraph-reverse-logo.svg) no-repeat;
            background-size: 150px;
            width: 150px;
            height: 26px;
        }
        &__nav-link:hover {
            color: $light-6;
        }
    }
    &.border-bottom {
        border-bottom-color: #212529 !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-light {
        background-color: #fff;
    }
    .darkBackground .navbar-nav .btn,
    .navbar-light .navbar-nav .btn {
        padding: 0.25rem 0.75rem;
    }
}
