@mixin icon-item-color($name, $color) {
    &.#{$name} {
        color: $color;
        background-color: rgba($color, 0.25);
    }
}

.icon-item {
    &__icon {
        margin-right: 0.5rem;
        padding: 0.125rem;

        @include icon-item-color('blue', $primary);
        @include icon-item-color('brand-cyan', $brand-cyan);
        @include icon-item-color('brand-purple', $brand-purple);
        @include icon-item-color('brand-orange', $brand-orange);
        @include icon-item-color('green', $green);
        @include icon-item-color('red', $red);
        @include icon-item-color('white', $white);
    }
}
