@mixin icon-item-color($name, $color) {
    &.#{$name} {
        color: $color;
        background-color: rgba($color, 0.25);
    }
}

.icon-item {
    &__icon {
        margin-right: 0.5rem;
        padding: 0.125rem;

        @include icon-item-color('primary', $primary);
        @include icon-item-color('sky-blue', $sky-blue);
        @include icon-item-color('vivid-violet', $vivid-violet);
        @include icon-item-color('green', $green-5);
        @include icon-item-color('vermillion', $vermillion);
        @include icon-item-color('white', $white);
    }
}
