.leadership-section {
    &__header {
        font-size: $font-size-base;
        padding: 0 15px;
    }
    &__item {
        margin-bottom: 5px;
        line-height: 1.15;
        &-image {
            max-width: 200px;
            margin-bottom: 1.2rem;
        }
        &-title {
            margin-bottom: 0;
        }
        &-social li{
            color: $dark-9;
            padding: 0.3rem;
        }
        &-social a:hover{
            color: #6c757d;
        }
        &-social li:first-child{
            padding-left: 0;
        }
    }
    &__item a{
        color: $dark-9;
    }
}

.board-section {
    .leadership-section__item {
        &-image {
            border-radius: 50%;
        }
    }
}