.leadership-section {
    &__header {
        font-size: $font-size-base;
        padding: 0 15px;
    }
    &__item {
        margin-bottom: 5px;
        line-height: 1.15;
        &-image {
            max-width: 200px;
            margin-bottom: 1.2rem;
        }
        &-title {
            margin-bottom: 0;
        }
    }
    &__item a{
        color: $dark-9;
    }
}

.leadership__social li{
    color: $dark-9;
    padding: 0.3rem;
}

.leadership__social li:first-child{
    padding-left: 0;
}