// stylelint-disable declaration-property-unit-whitelist
.nav-tabs {
    .nav-item {
        position: relative;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
        @media screen and (max-width: $media-md) {
            font-size: 0;
        }
        a {
            color: $dark-1;
            &:hover {
                color: $dark-11;
            }
        }
    }

    .nav-link {
        display: flex;
        padding: 7px 15px;
        &:hover {
            border-color: transparent;
            fill: $dark-11;
        }
    }

    .nav-item.show .nav-link,
    .nav-link.active {
        border-color: $light-10 $light-10 $light-12;
        color: $dark-11;
        &:hover {
            border-color: $light-10 $light-10 $light-12;
        }
        @media screen and (max-width: $media-md) {
            font-size: 1rem;
        }
    }

    .nav-item.show .nav-link,
    .nav-link.active span {
        position: absolute;
        height: 2px;
        top: 0;
        right: 0;
        left: 0;
        background-color: $blue-7;
    }
}
.nav-item.buttons {
    .docs-nav-button {
        margin-top: 8px;
        padding: 0 12px 0 20px;
        display: inline-block !important;
    }
    @media screen and (max-width: $media-md) {
        display: flex;
        flex: 0 1 100%;
        width: 100%;

        .docs-nav-button {
            padding: 12px 12px 0 20px;
        }
    }
}
