.template-code-block {
    .template {
        background-color: $white;
        flex: 1 0 48%;
        max-width: 50%;
    }

    .code {
        background-color: $light-11;
    }

    .keyword {
        color: $blue;
    }
}
