.template-code-block {
    .template {
        background-color: $white;
        flex: 1 0 48%;
        max-width: 50%;

        @media only screen and (max-width: 768px) {
            width: 100%;
            max-width: 100%;
        }
    }

    .code {
        background-color: $light-11;
    }

    .keyword {
        color: $blue;
    }
}
