// stylelint-disable declaration-property-unit-whitelist

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    padding: 15% 4rem 25% 4rem;
    background: url('/c-sprinkles-blank.svg');
    background-size: cover;

    &__circle {
        height: 8rem;
        width: 8rem;
        margin: 0 auto;
        background: #afbcd4;
    }

    &__icon {
        height: 8rem;
        width: 8rem;
        margin: 0 auto;
        svg {
            height: 8rem;
            width: 8rem;
            fill: #e4e9f1;
        }
    }
}
