.case-studies {
    h2 {
        font-size: 1.6rem;
    }

    &__wrapper {
        width: 66.667%;
        margin: auto;
        max-width: 740px; // Copied from medium.com
    }

    &__img {
        max-width: 100%;
    }

    &__logo {
        height: 3rem;
    }

    &__quote {
        margin: 0 auto;
        padding: 0 2.5rem;

        img {
            max-width: 150px;
        }

        p {
            text-indent: 0.4em;
            font-size: 1.5rem;
            line-height: 1.2;
            letter-spacing: -0.015em;

            &::before {
                text-indent: -0.4em;
                content: '“';
                position: absolute;
                margin-left: -2px;
            }

            &::after {
                content: '”';
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.9rem;
            }
        }
        a {
            font-size: 1rem;
        }
        footer {
            font-size: 1rem;
            font-weight: 400;
        }

        &--in-content {
            margin: 2rem 0;

            p {
                padding-left: 1rem;
                border-left: 3px solid #f86012;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.5;
            }

            &--section {
                padding-left: 1rem;
                border-left: 3px solid #f86012;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }
    }
}

.case-study .author-bio {
    &__img {
        // TODO: On Tailwind migration, trade out this style for utility class: "border border-3 border-sky-400"
        border: 3px solid #00a1c7;
    }
}

.lyft-case-study {
    .case-studies {
        &__logo {
            height: 4.5rem;
        }
    }
}
