.case-studies {
    h2 {
        font-size: 1.6rem;
    }

    &__wrapper {
        width: 66.667%;
        margin: auto;
        max-width: 740px; // Copied from medium.com
    }

    &__quote {
        margin: 0 auto;
        padding: 0 2.5rem;

        img {
            max-width: 150px;
        }

        p {
            text-indent: 0.4em;
            font-size: 1.5rem;
            line-height: 1.2;
            letter-spacing: -0.015em;

            &::before {
                text-indent: -0.4em;
                content: '“';
                position: absolute;
                margin-left: -2px;
            }

            &::after {
                content: '”';
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.9rem;
            }
        }
        a {
            font-size: 1rem;
        }
        footer {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.lyft-case-study {
    .case-studies {
        &__logo {
            height: 4.5rem;
        }
    }
}
