.code-insights-page {
    .video-container {
        @media only screen and (max-width: 768px) {
            order: 1;
        }
    }

    /* Icon overrides */
    .mdi-icon {
        &.icon {
            border-radius: 45%;
            padding: 1rem;
            background-color: $white;
        }
    }

    .btn-link,
    .btn-primary {
        @media only screen and (max-width: 768px) {
            flex: unset;
            max-width: unset;
        }
    }

    .btn-link {
        text-decoration: none;
    }

    .tab-carousel {
        transition: background-color 0.5s ease;
    }

    .icon-subheader {
        padding: 0 250px;

        @media only screen and (max-width: 768px) {
            padding: 0;
        }
    }

    .icon-paragraph {
        @media only screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    .custom-carousel {
        transition: background-color 0.5s ease;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
            flex-direction: row;
        }

        .custom-carousel-item {
            font-size: 1.5rem;
            line-height: 1.4rem;
            cursor: pointer;
            display: block;
            margin: 10px 0 10px 10px;
            font-size: 18px;
            float: left;
            width: 100%;

            &.active {
                font-weight: 600 !important;
                display: block;

                @media only screen and (max-width: 992px) {
                    margin: 20px 20px 0 20px;
                    height: 150px;
                }
            }

            @media only screen and (max-width: 992px) {
                padding: 0;
                margin: 20px 0;
                display: none;
                line-height: 2.5rem;
                width: auto;
            }
        }

        li {
            margin: 0;
            cursor: default;
        }

        p {
            font-size: 1.125em;
            line-height: 1.75rem;
        }
    }
}
