.content-page {
    &__body {
        max-width: 64em;
        padding: 2rem 1rem;
        margin: auto;

        @media only screen and (max-width: 768px) {
            margin: unset;
        }
        h2 {
            margin-top: 0.5rem;
        }
        p,
        ul,
        ol {
            margin-bottom: 2rem;
        }
        li p {
            margin-bottom: 0;
        }
        a {
            word-break: break-word;
        }
        a.anchor {
            opacity: 0;
            position: relative;
        }
        a.anchor::before {
            position: absolute;
            top: 0.6rem;
            left: -1rem;
            content: '#';
            color: $black;
            font-size: 1.5rem;
            font-weight: 400;
        }
        :is(h1, h2, h3, h4, h5, h6, th):hover a.anchor {
            text-decoration: none;
            opacity: 1;
            color: $black;
        }
    }
}
