.jobs-page {
    .hero-section {
        padding: 100px 0;

        @media only screen and (max-width: 768px) {
            padding: 50px 50px 25px;
        }
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.815rem;

        @media only screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .hero-image {
        width: 100%;
        max-width: 1500px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .hero-image-mobile {
        display: none;

        @media only screen and (max-width: 768px) {
            display: inline-block;
            width: 100%;
        }
    }

    h2 {
        font-size: 3rem;
        line-height: 3.75rem;
        font-weight: bold;

        @media only screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    .benefits {
        padding: 170px 0;

        h3 {
            font-size: 1.125rem;
            line-height: 1.4375rem;
        }
        p {
            line-height: 1.25rem;
        }
        .benefits-row {
            padding: 16px 8.33% 0 8.33%;
        }
        .benefit {
            padding: 0;
            margin: 0 4.16%;

            @media only screen and (max-width: 768px) {
                width: 40%;
            }
        }
    }

    .handbook-benefits-link {
        text-decoration: underline;
        color: $space-black;
    }

    .icon {
        width: 45px;
        height: 45px;
    }
}
