.jobs-page {
    .hero-section {
        padding: 100px 0;

        @media only screen and (max-width: 768px) {
            padding: 50px 50px 25px;
        }
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.815rem;

        @media only screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .hero-image {
        width: 100%;
        max-width: 1500px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .hero-image-mobile {
        display: none;

        @media only screen and (max-width: 768px) {
            display: inline-block;
            width: 100%;
        }
    }

    h2 {
        font-size: 3rem;
        line-height: 3.75rem;
        font-weight: bold;

        @media only screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    .benefits {
        padding: 170px 0;

        h3 {
            font-size: 1.125rem;
            line-height: 1.4375rem;
        }
        p {
            line-height: 1.25rem;
        }
        .benefits-row {
            padding: 16px 8.33% 0 8.33%;
        }
        .benefit {
            padding: 0;
            margin: 0 4.16%;

            @media only screen and (max-width: 768px) {
                width: 40%;
            }
        }
    }

    .handbook-benefits-link {
        text-decoration: underline;
        color: $space-black;
    }

    .icon {
        width: 45px;
        height: 45px;
    }

    /* Styling for both carousels */
    .carousel {
        h1 {
            font-size: 3rem;
            line-height: 3.75rem;
        }
        .carousel-indicators {
            bottom: 40px;

            @media only screen and (max-width: 768px) {
                bottom: 0;
            }

            .active {
                opacity: 1;
            }

            button {
                background-color: $space-black;
                opacity: 0.5;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                border: 0 none;
                margin: 0 8px;
            }
        }
        @media only screen and (max-width: 768px) {
            .carousel-control-prev,
            .carousel-control-next {
                display: none;
            }
        }
    }

    .culture-carousel {
        .carousel-item {
            .row {
                padding: 128px;

                @media only screen and (max-width: 768px) {
                    padding: 40px 60px;
                }
            }
            p {
                @media only screen and (max-width: 768px) {
                    font-size: 2rem;
                    line-height: 2.5rem;
                    margin-bottom: 30px;
                    text-align: center;
                    height: 130px;
                }
            }
            .img-container {
                height: 611px;
            }
            img {
                width: 100%;
                max-width: 458px;
                margin-left: 10%;

                @media only screen and (max-width: 768px) {
                    margin-left: 0;
                }
            }
            img.landscape {
                margin-top: 89px;
                max-width: 577px;
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }

    .values-carousel {
        padding: 170px 0;

        @media only screen and (max-width: 768px) {
            padding: 120px 0;
            margin-bottom: 70px;
        }

        .carousel-item .row > div {
            text-align: center;
            margin: 0 auto;
        }

        .subTitle {
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: 600;
            margin-bottom: 20px;
            text-transform: uppercase;

            @media only screen and (max-width: 768px) {
                margin-bottom: 10px;
            }
        }
        h1 {
            margin-bottom: 20px;

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
        img {
            margin-top: 50px;
            width: 100%;
            max-width: 500px;

            @media only screen and (max-width: 768px) {
                max-width: 300px;
                margin-top: 25px;
            }
        }
        .paragraph {
            height: 64px; /* hardcoding height so that it doesn't jump up and down in between slides */
            font-size: 1.125rem;
            line-height: 1.375rem;
            width: 50%;
            margin: 0 auto;

            @media only screen and (max-width: 768px) {
                width: 85%;
                margin: 0 auto;
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            margin-top: 200px;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon,
        .carousel-indicators li {
            background-color: $space-black;
        }
    }
}
