.support-plan-feature {
    &__icon-true {
        color: var(--success);
    }
    &__icon-false {
        visibility: hidden;
    }
}
.support-plan {
    &__title {
        font-size: 2.75rem;
    }
    &__button {
        font-size: 18px;
        min-width: 140px;
    }
}
