/* ======== Bootstrap Carousel style overrides ======== */
.carousel {
    .carousel-indicators {
        bottom: 5%;

        .active {
            opacity: 1;
        }

        button {
            background-color: $space-black;
            opacity: 0.5;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 0 none;
            margin: 0 8px;
        }
    }
    @include media-breakpoint-down(lg) {
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }
}
