/**
 * NOTICE
 *
 * These colours are considered deprecated. Please refernce colours
 * via Tailwind CSS instead.
 */

//  TODO: Remove these and replace with Tailwind syntax

// Sourcegraph Secondary Colors
$blurple: #5033e1;

// Rogue colors
$light-gray-4: #f9fafb;
$gray-2: #e7e7e7;
$gray-4: #8a8a8a;
$gray-5: #4d4d4d;
$curious-blue: #1c7cd6;
$dodger-blue: #2c7ef6;

// New DLS colors
$gray-200: #ebeff3;
$gray-500: #484b51;

$theme-colors: (
    // Bootstrap overrides
    'primary': $blurple,

    // Sourcegraph Secondary Colors
    'blurple': $blurple,

    // Rogue colors
    'light-gray-4': $light-gray-4,
    'gray-2': $gray-2,
    'gray-4': $gray-4,
    'gray-5': $gray-5,
    'curious-blue': $curious-blue,
    'dodger-blue': $dodger-blue,

    // New DLS colors
    'gray-200': $gray-200,
    'gray-500': $gray-500
);
