@use 'sass:color';
@import '@styles/colors';

@mixin BgGradientPrimary {
    background-image: radial-gradient(circle at 50% 0px, $blue-7, darken($blue, 9%));
}
@mixin BgGradientGreenBlue {
    background: linear-gradient(90deg, $light-green 0%, $light-blue 100%);
}
@mixin BgGradientBlueGreen {
    background: linear-gradient(90deg, $light-blue 0%, $light-green 100%);
}
@mixin BgGradientOnahauMint {
    background: linear-gradient(
        90deg,
        color.adjust($brand-onahau, $alpha: -0.7) 14.33%,
        color.adjust($brand-mint, $alpha: -0.7) 81.79%
    );
}
@mixin BgGradientOnahauFog {
    background: linear-gradient(
        90deg,
        color.adjust($brand-onahau, $alpha: -0.7) 14.33%,
        color.adjust($brand-fog, $alpha: -0.7) 81.79%
    );
}
@mixin BgGradientBluePurple {
    background: linear-gradient(90deg, $light-blue 0%, $brand-fog 100%);
}
@mixin BgGradientPurpleYellow {
    background: linear-gradient(90deg, $brand-fog 0%, $light-yellow 100%);
}
@mixin BgGradientFogBlue2 {
    background: linear-gradient(90deg, $brand-fog 0%, $light-blue2 100%);
}
@mixin BgGradientYellowGreen2 {
    background: linear-gradient(90deg, $light-yellow 0%, $light-green2 100%);
}
@mixin BgGradientGreen2Red {
    background: linear-gradient(90deg, $light-green 0%, $light-red 100%);
}
@mixin BgGradientRedBlue2 {
    background: linear-gradient(90deg, $light-red 0%, $light-blue2 100%);
}
@mixin BgGradientBlue2Blue {
    background: linear-gradient(90deg, $light-blue2 0%, $light-blue 100%);
}
@mixin BgGradientBlueMist {
    background: radial-gradient(ellipse at top left, rgba($blue-mist, 0.5), transparent),
        radial-gradient(ellipse at bottom right, rgba($light-green2, 0.5), transparent);
}

.bg-gradient-primary {
    @include BgGradientPrimary;
}
.bg-gradient-green-blue {
    @include BgGradientGreenBlue;
}
.bg-gradient-blue-green {
    @include BgGradientBlueGreen;
}
.bg-gradient-onahau-mint {
    @include BgGradientOnahauMint;
}
.bg-gradient-onahau-fog {
    @include BgGradientOnahauFog;
}
.bg-gradient-blue-purple {
    @include BgGradientBluePurple;
}
.bg-gradient-purple-yellow {
    @include BgGradientPurpleYellow;
}
.bg-gradient-fog-blue2 {
    @include BgGradientFogBlue2;
}
.bg-gradient-yellow-green2 {
    @include BgGradientYellowGreen2;
}
.bg-gradient-green2-red {
    @include BgGradientGreen2Red;
}
.bg-gradient-red-blue2 {
    @include BgGradientRedBlue2;
}
.bg-gradient-blue2-blue {
    @include BgGradientBlue2Blue;
}
.bg-gradient-blue-mist {
    @include BgGradientBlueMist;
}
