/**
 * NOTICE
 *
 * These spacings are considered deprecated. Please reference Tailwind CSS
 * for width and height syntax.
 */

@use 'sass:map';

$maxBreakpoint: map.get($grid-breakpoints, 'xl');

@for $spacing from 25 through $maxBreakpoint {
    $increment: $spacing + 25;

    @if $increment % 25 == 0 {
        // Utility classes for heights, min-heights and max-widths
        .h-#{$spacing} {
            height: #{$spacing}px;
        }
        .w-#{$spacing} {
            width: #{$spacing}px;
        }
        .min-h-#{$spacing} {
            min-height: #{$spacing}px;
        }
        .min-w-#{$spacing} {
            min-width: #{$spacing}px;
        }
        .max-h-#{$spacing} {
            max-height: #{$spacing}px;
        }
        .max-w-#{$spacing} {
            max-width: #{$spacing}px;
        }

        // Mobile-first utility classes for heights, min-heights, and max-widths
        @each $breakpoint, $width in $grid-breakpoints {
            @media (min-width: $width) {
                // Auto resets
                .h-#{$breakpoint}-auto {
                    height: auto;
                }
                .min-h-#{$breakpoint}-auto {
                    min-height: auto;
                }
                .min-w-#{$breakpoint}-auto {
                    min-width: auto;
                }

                // Height, min height, min width, and max width
                .h-#{$breakpoint}-#{$spacing} {
                    height: #{$spacing}px;
                }
                .min-h-#{$breakpoint}-#{$spacing} {
                    min-height: #{$spacing}px;
                }
                .w-#{$breakpoint}-#{$spacing} {
                    width: #{$spacing}px;
                }
                .min-w-#{$breakpoint}-#{$spacing} {
                    min-width: #{$spacing}px;
                }
                .max-w-#{$breakpoint}-#{$spacing} {
                    max-width: #{$spacing}px !important;
                }
            }
        }
    }
}
