.form {
    :global(.input) {
        margin-right: 0 !important;
    }

    :global(.hs-input),
    :global(.hs-input) {
        background: var(--sg-color-black) !important;
        padding: 14px 16px;
        border: 1px solid var(--sg-color-gray-500);
        border-radius: 5px;
        color: var(--sg-color-white) !important;
    }

    :global(.hs-input)::selection {
        background: transparent;
    }

    :global(.submitted-message) {
        color: var(--sg-color-white);
    }

    label,
    :global(.hs-form-booleancheckbox-display) {
        color: var(--sg-color-gray-50);
        margin-bottom: 12px;
    }

    :global(.hs-form-booleancheckbox-display) {
        display: flex;
    }

    :global(.hs-button) {
        background: var(--sg-color-white) !important;
        border-color: var(--sg-color-white) !important;
        color: var(--sg-color-violet-500);
    }

    :global(.hs-button):focus,
    :global(.hs-button):hover {
        color: var(--sg-color-white);
    }

    :global(.submitted-message) {
        text-align: center;
    }

    :global(.actions) {
        margin-bottom: 0px;
        padding: 0px;
        margin-top: 9px;
    }

    :global(a) {
        text-decoration: underline;
        color: var(--sg-color-violet-300);
    }

    :global(.hs-input[type='checkbox']),
    :global(.hs-input[type='radio']) {
        margin-right: 8px;
    }

    :global(.hs-input[type='radio'])::after,
    :global(.hs-input[type='checkbox'])::after {
        content: '';
        height: 16px;
        width: 16px;
        display: block;
        background: var(--sg-color-gray-700);
        margin-right: 8px;
        margin-left: -0.5px;
        border-radius: 4px;
        border: 1px solid var(--sg-color-gray-500);
    }

    :global(.hs-input[type='radio'])::after {
        border-radius: 50%;
    }

    :global(.hs-input[type='radio']:checked)::after,
    :global(.hs-input[type='checkbox']:checked)::after {
        display: none !important;
    }

    :global(.hs-form-booleancheckbox) {
        label {
            display: block;
        }
    }
}

.codyForm {
    :global(.input) {
        margin-right: 0 !important;
    }

    :global(.hs-input) {
        background: rgba(255, 255, 255, 0.1) !important;
        padding: 14px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        color: var(--sg-color-white) !important;
    }

    :global(.hs-input[type='email']),
    :global(.hs-input[type='text']) {
        width: 100% !important;
    }

    :global(.form-columns-2) {
        display: flex;
        gap: 0.5rem;

        > div {
            width: 100% !important;
        }
    }

    :global(.hs-input)::placeholder {
        color: white;
    }

    :global(.submitted-message) {
        color: var(--sg-color-white);
    }

    label,
    :global(.hs-form-booleancheckbox-display) {
        color: var(--sg-color-gray-50);
        margin-bottom: 12px;
    }

    :global(.hs-form-booleancheckbox-display) {
        display: flex;
    }

    :global(.hs-button) {
        background: var(--sg-color-white) !important;
        border-color: var(--sg-color-white) !important;
        color: var(--sg-color-violet-500);
    }

    :global(.hs-button):focus,
    :global(.hs-button):hover {
        color: var(--sg-color-white);
    }

    :global(.submitted-message) {
        text-align: center;
    }

    :global(.actions) {
        margin-bottom: 0px;
        padding: 0px;
        margin-top: 9px;
    }

    :global(a) {
        text-decoration: underline;
        color: var(--sg-color-violet-300);
    }

    :global(#label-firstname-05e46684-9fbc-4c4d-b010-f661f247c4c6),
    :global(#label-lastname-05e46684-9fbc-4c4d-b010-f661f247c4c6),
    :global(#label-email-05e46684-9fbc-4c4d-b010-f661f247c4c6),
    :global(#label-company-05e46684-9fbc-4c4d-b010-f661f247c4c6),
    :global(#label-jobtitle-05e46684-9fbc-4c4d-b010-f661f247c4c6) {
        display: none;
    }
}

.gatedPageForm {
    :global(.hs-input) {
        border-radius: 8px;
    }
}

.requestInfoForm {
    :global(.custom-submit-button) {
        border: none;
        color: white;
        padding: 8px 24px;
        margin: 0px 0px 0px 0px !important;
        text-align: center;
        text-decoration: none;
        background-color: var(--sg-color-violet-700) !important;
        border-color: var(--sg-color-violet-700) !important;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        gap: 8px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        &:hover {
            background-color: var(--sg-color-violet-600) !important;
        }
        width: 100%;
    }
    :global(.button-container) {
        border: none;
        padding: 0px 27px 0px 0px;
        text-align: center;
        text-decoration: none;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        cursor: pointer;
        display: flex;
        width: 100%;
    }
    :global(.custom-submit-button-div) {
        display: flex;
        width: 100%;
        flex-direction: row;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    :global(.actions) {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px;
        width: 100%;
        height: 0px !important;
    }

    @media only screen and (max-width: 1123px) {
        :global(.button-container) {
            border: none;
            padding: 0px 25px 0px 0px;
            text-align: center;
            text-decoration: none;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            cursor: pointer;
            display: flex;
            width: 100%;
        }
    }
}

.blogForm {
    :global(.hs-input),
    :global(.hs-input) {
        max-width: 301px;
        width: 100%;
        border: none;
        height: 40px;
        background-color: var(--sg-color-white) !important;
        color: var(--sg-color-gray-700) !important;
        border-bottom: 1px solid var(--sg-color-blurple-300) !important;
        padding: 8px 12px;
        outline: none;
        border-radius: 0;
    }

    :global(.hs-email) {
        margin: 0;
    }

    :global(.actions) {
        margin: 0;
        padding-bottom: 0;
    }

    :global(.form-target) {
        width: 100%;
    }
}

.newsletter {
    :global(.hs-form-field) {
        display: flex;
        flex-direction: column;
        margin: 0;

        input[type='email'] {
            background-color: #fff;
            border-top: transparent;
            border-right: transparent;
            border-left: transparent;
            border-radius: 0;
            border-color: var(--sg-color-violet-400);
            width: 100%;
            padding: 8px 12px;
        }

        :global(.invalid) {
            border-color: var(--sg-color-vermillion-400) !important;
        }

        ul,
        li {
            margin: 0;

            label {
                margin-bottom: 0;
            }
        }

        :global(.hs-field-desc) {
            order: 4;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.88px;
            color: var(--sg-color-gray-700);
            margin-top: 16px;
            margin-bottom: 0px;
        }
    }

    :global(.actions) {
        margin: 0;
        padding: 0;
        margin-top: 16px;

        input[type='submit'] {
            width: 100%;
            border-radius: 5px;
            border: 1px solid var(--sg-color-violet-600) !important;
            background: var(--sg-color-violet-500) !important;
            padding: 11px 30px !important;

            &:hover {
                border: 1px solid var(--sg-color-violet-600) !important;
                background: linear-gradient(
                        80deg,
                        rgba(112, 72, 232, 0.2) -19.42%,
                        rgba(74, 193, 232, 0.2) 26.02%,
                        rgba(161, 18, 255, 0.2) 65.63%,
                        rgba(255, 85, 67, 0.2) 116.4%
                    ),
                    var(--sg-color-violet-600) !important;
            }

            &:active {
                border: 3px solid var(--sg-color-violet-300) !important;
                background: var(--sg-color-violet-500) !important;
            }
        }
    }

    @media only screen and (min-width: 1123px) {
        :global(.actions) input[type='submit'] {
            width: fit-content;
        }
    }
}
