// stylelint-disable declaration-property-unit-whitelist
// stylelint-disable selector-max-id

/**
 * NOTICE
 *
 * This global stylesheet is considered deprecated. Please reference
 * Tailwind CSS for styling instead.
 */

@use 'sass:math';

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';

/* ==================== Bootstrap Colors ==================== */
$blurple: #5033e1;
$violet-400: #A112FF;
$theme-colors: (
    'primary': $violet-400,
    'blurple': $blurple,
);

/* ==================== Bootstrap Overrides ==================== */

$input-btn-padding-y: 0.55rem;

@import 'node_modules/bootstrap/scss/variables';

/* Set variables that rely on Bootstrap variables. */
$spacer: 1rem;
$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: $spacer,
    4: (
        $spacer * 1.5,
    ),
    5: (
        $spacer * 2,
    ),
    6: (
        $spacer * 4,
    ),
    7: (
        $spacer * 6,
    ),
    8: (
        $spacer * 8,
    ),
);

$navbar-nav-link-padding-x: $spacer * 0.75;
$navbar-light-color: $dark;
$navbar-light-hover-color: $blurple;
$navbar-dark-color: $light;
$navbar-dark-hover-color: $blurple;

$btn-padding-x: 1.5rem;
$btn-font-weight: 600;

$card-spacer-y: 1.25 * $spacer;
$card-spacer-x: 1.25 * $spacer;

$grid-gutter-width: 2rem;

$container-max-widths: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
);

$grid-breakpoints: (
    xs: 0,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
);

/* ==================== Bootstrap Components ==================== */
@import 'node_modules/bootstrap/scss/root';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/button-group';
@import 'node_modules/bootstrap/scss/input-group';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/media';
@import 'node_modules/bootstrap/scss/list-group';
@import 'node_modules/bootstrap/scss/tooltip';
@import 'node_modules/bootstrap/scss/popover';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/alert';
@import 'node_modules/bootstrap/scss/badge';
@import 'node_modules/bootstrap/scss/dropdown';
@import 'node_modules/bootstrap/scss/carousel';

/* ==================== Components ==================== */
@import 'components/blog/BlogPost';
@import 'components/blog/LinkPost';
@import 'components/blog/PodcastPost';
@import 'components/blog/PostsList';
@import 'components/blog/ReleasePost';
@import 'components/Header';
@import 'components/TestimonialCarousel';
@import 'components/HubSpotForms';

/* ==================== Pages ==================== */
@import 'pages/_case_studies';
@import 'pages/content';
@import 'pages/code-insights';
@import 'templates/PostTemplate';

/* ==================== Custom Partials ==================== */
@import 'bootstrap-overrides';
@import 'scripts';
@import 'spacing';
