.slider {
    display: grid;
    place-items: center;
    height: 477px;
    margin: auto;
    position: relative;
    width: 100%;
}

.slide-tracker {
    display: flex;
    width: calc(794px * 20);
    animation: scrollCarousal 10s linear infinite;
}

.slide-tracker:hover {
    animation-play-state: paused;
}

 .slide {
    display: flex;
    align-items: center;
    width: 794px;
    padding: 0 50px;
    perspective: 100px;
}
.slide img {
    height: 469px;
    transition: transform 1s;
}

.slide img:hover {
    transform: translateZ(5px);
    z-index: 120;
    cursor:grabbing
}

@keyframes scrollCarousal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-794px * 5));
    }
}

@media (max-width: 860px) {
    .slider {
        height: 200px;
    }
    .slide-tracker {
        width: calc(794px * 10);
    }
    .slide {
        height: auto;
        width: 100%;
        padding: 0 25px;
    }

    .slide img {
        height: auto;
        width: 100%;
    }
}

