.container {
    :global(.hs-input) {
        background: var(--sg-color-black) !important;
        padding: 14px 16px;
        border: 1px solid var(--sg-color-gray-500);
        border-radius: 5px;
        color: var(--sg-color-white) !important;
    }

    :global(.submitted-message) {
        color: var(--sg-color-white);
    }

    :global(#label-email-e09d62b0-7c79-422e-a3d2-98c7c2948716),
    :global(#label-firstname-e09d62b0-7c79-422e-a3d2-98c7c2948716),
    :global(#label-lastname-e09d62b0-7c79-422e-a3d2-98c7c2948716),
    :global(#label-company-e09d62b0-7c79-422e-a3d2-98c7c2948716),
    :global(.hs-form-booleancheckbox-display) {
        color: var(--sg-color-gray-50);
        margin-bottom: 12px;
    }

    :global(.hs-form-booleancheckbox-display) {
        display: flex;
    }

    :global(.hs-button) {
        background: var(--sg-color-white) !important;
        border-color: var(--sg-color-white) !important;
        color: var(--sg-color-violet-500);
    }

    :global(.hs-button):focus,
    :global(.hs-button):hover {
        color: var(--sg-color-white);
    }

    :global(.submitted-message) {
        text-align: center;
    }

    :global(.actions) {
        margin-bottom: 0px;
        padding: 0px;
        margin-top: 9px;
    }

    :global(a) {
        text-decoration: underline;
        color: var(--sg-color-violet-300);
    }
}
