.post-template {
    &__post {
        min-height: 60vh;

        &-title {
            &-link {
                color: #000;
            }
        }

        p,
        h2,
        h3,
        h4,
        h5,
        ul,
        ol,
        pre,
        figure,
        img,
        object,
        table,
        blockquote,
        video {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        code {
            padding: 0.2em 0.4em;
            margin: 0;
            font-size: 85%;
            border-radius: 3px;
            background: var(--sg-color-gray-100);
            color: var(--sg-color-blue-500);
            border: 1px solid var(--sg-color-gray-200);
        }

        blockquote {
            padding-left: 2rem;
            border-left: solid 4px var(--sg-color-gray-200);
            margin-bottom: 1.25rem;
        }

        pre code {
            border: none;
        }

        p {
            line-height: 1.8;
            margin-bottom: 1.25rem;
        }

        ul,
        ol {
            line-height: 1.8;
            padding-left: 0;

            li {
                margin-left: 1rem;
                padding-left: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        // Fixes uneven or excessive spacing in lists (we only want the li's padding, not the p's
        // also).
        ul > li > p:only-of-type {
            margin-bottom: 0;
        }
    }
}
