.post-template {
    &__post {
        min-height: 60vh;

        &-title {
            &-link {
                color: $dark-8;
            }
        }

        p,
        h2,
        h3,
        h4,
        h5,
        ul,
        ol,
        pre,
        figure,
        img,
        object,
        table,
        blockquote,
        video {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            line-height: 1.8;
            margin-bottom: 1.25rem;
        }

        ul,
        ol {
            line-height: 1.8;
            padding-left: 0;

            li {
                margin-left: 1rem;
                padding-left: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        // Fixes uneven or excessive spacing in lists (we only want the li's padding, not the p's
        // also).
        ul > li > p:only-of-type {
            margin-bottom: 0;
        }
    }
}
