.podcast-post {
    &__body {
        overflow-wrap: break-word;

        > p:last-child {
            margin-bottom: 0;
        }
    }

    .audio-container {
        width: 40rem;
        max-width: 100%;
        margin: 2rem auto;

        audio {
            width: 100%;
        }

        p {
            margin: 0;
            display: flex;
        }
    }
}
