@import '@styles/colors';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';

.webinar_customer_hero {
    background: url('./assets/hero/bg-code-mars.png') no-repeat;
    background-size: cover;

    @include media-breakpoint-down(md) {
        background: url('./assets/hero/bg-code-mars-mobile.png') no-repeat;
        background-size: cover;
    }
}

.webinar_hero {
    background: url('./assets/hero/bg-code-aquamarine.png') no-repeat;
    background-size: cover;
    color: $white;
    
    @include media-breakpoint-down(md) {
        background: url('./assets/hero/bg-code-mars-mobile.png') no-repeat;
        background-size: cover;
        color: $black;
    }
}

.guide_hero {
    background: url('./assets/hero/bg-venus.svg') no-repeat;
    background-size: cover;

    @include media-breakpoint-down(md) {
        background: url('./assets/hero/bg-venus-mobile.svg') no-repeat;
        background-size: cover;
    }
}
