@import '@styles/colors';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';

.hero {
    background: url('/bg-code-saturn.svg') no-repeat;
    background-size: cover;

    @include media-breakpoint-up(sm) {
        background: url('/bg-code-saturn-mobile.svg') no-repeat;
        background-size: cover;
    }
}

.saturnBorder {
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(to right, $violet-mist, $blue-mist) !important;
}
