.case-studies-section {
    &__header {
        font-size: $font-size-base;
        padding: 0 15px;
    }

    $max-width: 135px;
    &__item {
        max-width: $max-width;
        margin-bottom: 0;
        line-height: 1.15;
        &-logo {
            height: 60px;
            max-width: $max-width;
            margin-bottom: 0.5rem;
        }
    }
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card-deck > div[class*='col-'] {
    display: flex;
}
