@import 'node_modules/bootstrap/scss/utilities/screenreaders';

.customer-logos-section {
    $max-width: 135px;
    &__item {
        max-width: $max-width;
        margin-bottom: 1.5rem;
        line-height: 1.15;
        &-logo {
            // stylelint-disable-next-line declaration-property-unit-whitelist
            height: 70px;
            max-width: $max-width;
            margin-bottom: 0.5rem;
        }

        // Don't allow logos to wrap beyond 1200px wide
        // This may change once we have enough logos to fill 2 lines
        //@include media-breakpoint-up(lg) {
        //    &:nth-child(n+8) {
        //        @include sr-only();
        //}

        &-caption {
            font-size: 0.7rem;
            line-height: normal;
            display: block;
        }

        &.quantcast, &.convoy {
            padding-top: 16px;
        }
    }
}
