// .customer-logos-section {
//     &__header {
//         font-size: $font-size-base;
//         padding: 0 15px;
//     }

//     $max-width: 135px;
//     &__item {
//         max-width: $max-width;
//         margin-bottom: 0;
//         line-height: 1.15;
//         &-logo {
//             // stylelint-disable-next-line declaration-property-unit-whitelist
//             height: 50px;
//             max-width: $max-width;
//             margin-bottom: 0.5rem;
//             filter: grayscale(100%) contrast(130%);
//             opacity: 0.5;
//         }
//     }
// }

// .full-color {
//     .customer-logos-section__item-logo {
//         filter: none;
//         opacity: 100;
//     }
// }
