.gitlab-integration-section {
    $max-width: 135px;
    background-color: #111111;

    &__quote {
        margin: 0 auto;
        padding: 2.5rem 0;
        font-size: 1.35rem;

        p {
            border-left: 3px solid #00b4f2;
            padding-left: 1rem;

            text-indent: 0.4em;
            line-height: 1.2;
            letter-spacing: -0.015em;

            &::before {
                text-indent: -0.4em;
                content: '"';
                position: absolute;
                margin-left: -2px;
            }

            &::after {
                content: '"';
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.9rem;
            }
        }

        footer {
            font-size: 1.4rem;
            font-weight: 400;
            opacity: 0.6;

            &::before {
                content: '—';
            }
        }
    }
}
