@import '@styles/colors';
@import '@styles/gradients';

.getStartedPage {
    background: linear-gradient(90deg, $light-blue 0%, $light-purple 50%, $light-blue 50%, $light-green 100%);

    p {
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-bottom: 25px;
    }

    section h1 {
        font-size: 2.25rem;
        line-height: 3.25rem;
        margin-bottom: 10px;
    }

    // Self hosted section
    section:nth-of-type(1) {
        @media only screen and (max-width: 990px) {
            @include BgGradientBluePurple;
        }
    }

    // sg cloud section
    section:nth-of-type(2) {
        @media only screen and (max-width: 990px) {
            @include BgGradientBlueGreen;
        }
    }
}

.hero {
    h1 {
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 4.625rem;
        margin-bottom: 11px;

        @media only screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    p {
        font-size: 1.125rem;
        line-height: 1.4125rem;
    }
}

.badge {
    background: $brand-purple;
    text-transform: uppercase;
    padding: 7px 10px 5px;
    color: #fff;
    font-weight: 700;
    font-size: 0.65rem;
    line-height: 0.815rem;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;

    span {
        margin-left: 5px;
    }
}

.smallTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 5px;
}

.signInLink {
    color: #000;
    text-decoration: underline;
    &:hover {
        color: #000;
        text-decoration: none;
    }
}
