.container fieldset {
    max-width: 100% !important;
}

.container :global(.hs-button) {
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    background-color: var(--sg-color-violet-400);
    border-color: var(--sg-color-violet-400);
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 12px 24px;
}

.container :global(.hs-button):hover,
.container :global(.hs-button):focus {
    background-color: var(--sg-color-violet-500);
    border-color: var(--sg-color-violet-500);
}

.container :global(.hs-button):active {
    background-color: var(--sg-color-violet-500);
    border-color: var(--sg-color-violet-500);
}

.container label {
    font-size: 14px;
    width: 130px;
    color: #33475b;
    display: block;
    float: none;
    width: auto;
    font-weight: 500;
    line-height: 20px;
    padding-top: 0;
    margin-bottom: 4px;
    margin-top: 4px;
}

.container :global(.hs-video-form) label {
    color: #fff !important;
}

.container :global(.hs-video-form) :global(.hs-back-button) {
    background-color: #fff;
    width: 20%;
    height: 38px;
    margin-right: 10px;
    border: 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.container :global(.hs-video-form) :global(.hs-button) {
    width: 70%;
}

.container :global(.hs-video-form) :global(.hs-button) span {
    font-size: 15px;
}

.container :global(.hs-video-form) :global(.hs-richtext) {
    color: #fff !important;
}

.container :global(.hs-video-form) :global(.legal-consent-container) {
    max-height: 180px !important;
    overflow-y: scroll !important;
}

.container :global(.hs-video-form) :global(.legal-consent-container):after {
    content: '';
    display: block;
    height: 100px;
    width: 100%;
}

.container :global(.hs-video-form) :global(.legal-consent-wrapper) {
    position: relative;
}

.container :global(.hs-video-form) :global(.legal-consent-overlay) {
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--sg-color-gray-700) 100%);
}

.container :global(.hs-error-msgs) label {
    color: var(--sg-color-vermillion-400);
}

.container :global(.hs-input) {
    display: inline-block;
    width: 90%;
    height: 40px;
    padding: 9px 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: var(--sg-color-gray-600);
    border: 1px solid var(--sg-color-gray-200);
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.container :global(.hs-input):not([type='file']) {
    background-color: #f5f8fa;
}

.container :global(.hs-input)[type='checkbox'],
.container :global(.hs-input)[type='radio'] {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 5px 3px 0px;
    line-height: normal;
    border: none;
}
.container :global(.hs-input)[type='checkbox']:checked,
.container :global(.hs-input)[type='radio']:checked {
    accent-color: var(--sg-color-violet-400);
}

.container :global(.hs-input)[type='file'] {
    padding: initial;
    border: initial;
    line-height: initial;
    box-shadow: none;
}

.container select:global(.is-placeholder) {
    color: #bfbfbf;
}

.container select:global(.is-placeholder):focus {
    color: #33475b;
}

.container :global(.hs-input):-moz-placeholder {
    color: #bfbfbf;
}

.container :global(.hs-input)::-webkit-input-placeholder {
    color: #bfbfbf;
}

.container :global(.hs-input) option:disabled {
    color: #bfbfbf;
}

.container :global(.hs-input) input,
.container :global(.hs-input) textarea {
    transition: border 0.2s linear;
}

.container :global(.hs-input):focus {
    outline: none;
    border-color: var(--sg-color-violet-400);
}

.container textarea:global(.hs-input) {
    height: auto;
}

.container select[multiple]:global(.hs-input) {
    height: inherit;
}

.container input:global(.hs-input):global(.error),
.container div:global(.field):global(.error) input,
.container div:global(.field):global(.error) textarea,
.container div:global(.field):global(.error) :global(.chzn-choices),
.container textarea:global(.hs-input):global(.error),
.container select:global(.hs-input):global(.error) {
    border-color: var(--sg-color-vermillion-400);
}

.container input:global(.hs-input):global(.error):focus,
.container div:global(.field):global(.error) input:focus,
.container div:global(.field):global(.error) textarea:focus,
.container div:global(.field):global(.error) :global(.chzn-choices):focus,
.container textarea:global(.hs-input):global(.error):focus,
.container select:global(.hs-input):global(.error):focus {
    border-color: var(--sg-color-vermillion-400);
}

.container :global(.actions) {
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 17px 0px;
}

.container :global(.inputs-list) {
    margin: 0 0 5px;
    width: 100%;
    padding-left: 5px;
}
.container :global(.inputs-list) :global(.hs-error-msgs) {
    padding-left: 0;
}

.container :global(.inputs-list) > li {
    display: block;
    padding: 0;
    width: 100%;
    padding-top: 0;
}

.container :global(.inputs-list) label {
    float: none;
    width: auto;
    padding: 0;
    line-height: 18px;
    white-space: normal;
    font-weight: normal;
}

.container :global(.inputs-list):first-child {
    padding-top: 6px;
}

.container :global(.inputs-list) > li + li {
    padding-top: 2px;
}

.container ul:global(.no-list) {
    list-style: none;
}

.container :global(.field) {
    margin-bottom: 18px;
}

.container :global(.hs-field-desc) {
    color: #7c98b6;
    margin: 0px 0px 6px;
    font-size: 11px;
}

.container :global(.hs-form-required) {
    color: var(--sg-color-vermillion-400);
}

.container :global(.hs-richtext) {
    margin-bottom: 3px;
    line-height: 24px;
    font-size: 14px;
    color: #33475b;
}

.container :global(.hs-richtext) hr {
    margin-left: 0;
    width: 91%;
}

.container
    :global(.hs-custom-style)
    :global(.hs-dependent-field)
    > div
    input:global(.hs-input):not([type='checkbox']):not([type='radio']) {
    width: 90%;
}

.container form:global(.hs-form-rtl) :global(.field) {
    flex: 0 1 100%;
}

.container form:global(.hs-form-rtl) :global(.hs-input)[type='checkbox'],
.container form:global(.hs-form-rtl) :global(.hs-input)[type='radio'] {
    margin: 3px 5px 3px 5px;
}

.container form:global(.hs-form-rtl) fieldset {
    display: flex;
}

.container form:global(.hs-form-rtl) fieldset[class^='form-columns-'] :global(.input) {
    margin-right: 0px;
}

.container form:global(.hs-form-rtl) ul {
    padding: 0px;
}

.container form:global(.hs-form-rtl) :global(.legal-consent-container) :global(.hs-form-booleancheckbox-display) input {
    width: auto;
    float: right;
}

.container
    form:global(.hs-form-rtl)
    :global(.legal-consent-container)
    :global(.hs-form-booleancheckbox-display)
    > span {
    margin-left: 0px;
}

.container form:global(.hs-form-rtl) :global(.hs-dependent-field) {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
}

.container :global(.email-correction),
.container :global(.email-validation) {
    padding-top: 3px;
    font-size: 12px;
}

.container :global(.email-correction) a,
.container :global(.email-validation) a {
    cursor: pointer;
}

@media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
    .container :global(.email-correction) form :global(.form-columns-2) :global(.hs-form-field),
    .container :global(.email-correction) form :global(.form-columns-3) :global(.hs-form-field),
    .container :global(.email-validation) form :global(.form-columns-2) :global(.hs-form-field),
    .container :global(.email-validation) form :global(.form-columns-3) :global(.hs-form-field) {
        float: none;
        width: 100%;
    }

    .container :global(.email-correction) form :global(.form-columns-2) :global(.hs-form-field) :global(.hs-input),
    .container :global(.email-correction) form :global(.form-columns-3) :global(.hs-form-field) :global(.hs-input),
    .container :global(.email-validation) form :global(.form-columns-2) :global(.hs-form-field) :global(.hs-input),
    .container :global(.email-validation) form :global(.form-columns-3) :global(.hs-form-field) :global(.hs-input) {
        width: 90%;
    }

    .container :global(.email-correction) form :global(.form-columns-2) :global(.hs-form-field) input[type='checkbox'],
    .container :global(.email-correction) form :global(.form-columns-2) :global(.hs-form-field) input[type='radio'],
    .container :global(.email-correction) form :global(.form-columns-3) :global(.hs-form-field) input[type='checkbox'],
    .container :global(.email-correction) form :global(.form-columns-3) :global(.hs-form-field) input[type='radio'],
    .container :global(.email-validation) form :global(.form-columns-2) :global(.hs-form-field) input[type='checkbox'],
    .container :global(.email-validation) form :global(.form-columns-2) :global(.hs-form-field) input[type='radio'],
    .container :global(.email-validation) form :global(.form-columns-3) :global(.hs-form-field) input[type='checkbox'],
    .container :global(.email-validation) form :global(.form-columns-3) :global(.hs-form-field) input[type='radio'] {
        width: 24px;
    }
}

.container :global(.hs-button),
.container :global(.hs-form-field) input[type='text'],
.container :global(.hs-form-field) input[type='email'],
.container :global(.hs-form-field) input[type='phone'],
.container :global(.hs-form-field) input[type='number'],
.container :global(.hs-form-field) input[type='tel'],
.container :global(.hs-form-field) input[type='date'],
.container :global(.hs-form-field) textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container :global(.hs-default-font-element),
.container :global(.hs-main-font-element) {
    line-height: normal;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):global(.hs-form) {
    width: 100%;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-submit) > :global(.actions) {
    text-align: left;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-button),
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-button):hover,
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-button):hover:not(:global(.inactive)),
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-button):focus,
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-button):active,
.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.hs-button):active:not(:global(.inactive)):not(:global(.link)) {
    background: var(--sg-color-blruple-400);
    border-color: var(--sg-color-blruple-400);
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) legend:global(.hs-field-desc) {
    color: #7c98b6;
    font-size: 11px;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.hs-form-field)
    label:not(:global(.hs-error-msg)) {
    font-size: 13px;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.hs-form-field)
    label:not(:global(.hs-error-msg)) {
    color: #000000;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.legal-consent-container)
    :global(.hs-richtext),
.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.legal-consent-container)
    label:not(:global(.hs-error-msg)) {
    color: #33475b;
    font-size: 14px;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):global(.submitted-message) {
    font-size: 16px;
    color: #33475b;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) a:link,
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) a:active {
    color: var(--sg-color-blruple-500);
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) a:visited,
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) a:hover {
    color: var(--sg-color-violet-500);
}

.container :global(.fn-date-picker):global(.pika-single) {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    *zoom: 1;
}

.container :global(.fn-date-picker):global(.pika-single):global(.is-hidden) {
    display: none;
}

.container :global(.fn-date-picker):global(.pika-single):global(.is-bound) {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.container :global(.fn-date-picker):global(.pika-single):after,
.container :global(.fn-date-picker):global(.pika-single):before {
    content: ' ';
    display: table;
}

.container :global(.fn-date-picker):global(.pika-single):after {
    clear: both;
}

.container :global(.fn-date-picker) :global(.pika-lendar) {
    float: left;
    width: 240px;
    margin: 8px;
}

.container :global(.fn-date-picker) :global(.pika-title) {
    position: relative;
    text-align: center;
}

.container :global(.fn-date-picker) :global(.pika-title) select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.container :global(.fn-date-picker) :global(.pika-label) {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: #fff;
}

.container :global(.fn-date-picker) :global(.pika-next),
.container :global(.fn-date-picker) :global(.pika-prev) {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: 0.5;
    *position: absolute;
    *top: 0;
}

.container :global(.fn-date-picker) :global(.pika-next):hover,
.container :global(.fn-date-picker) :global(.pika-prev):hover {
    opacity: 1;
}

.container :global(.fn-date-picker) :global(.pika-next):global(.is-disabled),
.container :global(.fn-date-picker) :global(.pika-prev):global(.is-disabled) {
    cursor: default;
    opacity: 0.2;
}

.container :global(.fn-date-picker) :global(.is-rtl) :global(.pika-next),
.container :global(.fn-date-picker) :global(.pika-prev) {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.container :global(.fn-date-picker) :global(.is-rtl) :global(.pika-prev),
.container :global(.fn-date-picker) :global(.pika-next) {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.container :global(.fn-date-picker) :global(.pika-select) {
    display: inline-block;
    *display: inline;
}

.container :global(.fn-date-picker) :global(.pika-table) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.container :global(.fn-date-picker) :global(.pika-table) td,
.container :global(.fn-date-picker) :global(.pika-table) th {
    width: 14.285714285714286%;
    padding: 0;
}

.container :global(.fn-date-picker) :global(.pika-table) th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}

.container :global(.fn-date-picker) :global(.pika-table) abbr {
    border-bottom: none;
    cursor: help;
}

.container :global(.fn-date-picker) :global(.pika-button) {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.container :global(.fn-date-picker) :global(.pika-button):hover {
    color: #fff !important;
    background: var(--sg-color-violet-400) !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}

.container :global(.fn-date-picker) :global(.is-today) :global(.pika-button) {
    color: var(--sg-color-violet-400);
    font-weight: 700;
}

.container :global(.fn-date-picker) :global(.is-selected) :global(.pika-button) {
    color: #fff;
    font-weight: 700;
    background: var(--sg-color-violet-400);
    box-shadow: inset 0 1px 3px var(--sg-color-violet-400);
    border-radius: 3px;
}

.container :global(.fn-date-picker) :global(.is-disabled) :global(.pika-button) {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: 0.3;
}

.container :global(.fn-date-picker) :global(.pika-week) {
    font-size: 11px;
    color: #999;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.inputs-list):global(.inline-list) li {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    padding-right: 16px;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.inputs-list):global(.inline-list) li:after {
    clear: both;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.inputs-list):global(.inline-list) li input {
    float: left;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.inputs-list):global(.inline-list):global(.inline-list-2)
    li {
    width: 50%;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.inputs-list):global(.inline-list):global(.inline-list-2)
    li:nth-child(2n) {
    padding-right: 0;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.inputs-list):global(.inline-list):global(.inline-list-3)
    li {
    width: 33%;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    :global(.inputs-list):global(.inline-list):global(.inline-list-3)
    li:nth-child(3n) {
    width: 34%;
    padding-right: 0;
}

.container :global(.hs-fieldtype-intl-phone):global(.hs-input) {
    padding: 0;
    background: none;
    border: none;
    height: auto;
}

.container :global(.hs-fieldtype-intl-phone):global(.hs-input):after {
    clear: both;
    content: ' ';
    display: table;
}

.container :global(.hs-fieldtype-intl-phone):global(.hs-input) :global(.hs-input) {
    margin-bottom: 0;
}

.container :global(.hs-fieldtype-intl-phone):global(.hs-input) input {
    width: 68% !important;
    float: right;
}

.container :global(.hs-fieldtype-intl-phone):global(.hs-input) select {
    float: left;
    width: 30% !important;
}

@media (max-device-width: 480px) and (min-device-width: 320px), (max-width: 400px) {
    .container
        :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
        > :global(.hs-phone)
        > :global(.input)
        > :global(.hs-fieldtype-intl-phone):global(.hs-input)
        > input:global(.hs-input) {
        width: 68% !important;
    }

    .container
        :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
        > :global(.hs-phone)
        > :global(.input)
        > :global(.hs-fieldtype-intl-phone):global(.hs-input)
        > select:global(.hs-input) {
        width: 30% !important;
    }
}

.container :global(.hs-input-rating__container) {
    width: 95%;
    margin-bottom: 30px;
    display: table;
    table-layout: fixed;
}

.container :global(.hs-input-rating__container) section {
    display: table-row;
}

.container :global(.hs-input-rating__label) {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container :global(.hs-input-rating__label) input,
.container :global(.hs-input-rating__label) svg {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

.container :global(.hs-input-rating__label) svg {
    position: absolute;
    width: 45px;
    height: 45px;
    fill: #fff;
    stroke: #ccc;
    transform: scale(0.6);
    transition: transform 0.2s ease-in-out;
}

.container :global(.hs-input-rating__label) path {
    transition: fill 0.2s ease-in-out, stroke 0.1s ease-in-out;
}

.container :global(.hs-input-rating__is-star) input {
    display: none;
}

.container :global(.hs-input-rating__svg-is-selected) {
    transform: scale(0.7);
}

.container :global(.hs-input-rating__svg-is-selected) path {
    fill: var(--sg-color-lemon-300);
    stroke: var(--sg-color-lemon-400);
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-button) {
    white-space: pre-wrap;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-richtext) {
    word-break: break-word;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) fieldset:global(.form-columns-1) :global(.hs-input) {
    width: 95%;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) fieldset:global(.form-columns-1) :global(.input) {
    margin-right: 8px;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    fieldset:global(.form-columns-1)
    input[type='checkbox'],
.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) fieldset:global(.form-columns-1) input[type='radio'] {
    width: auto;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    fieldset:global(.form-columns-2)
    :global(.hs-form-field) {
    width: 50%;
    float: left;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) fieldset:global(.form-columns-2) :global(.input) {
    margin-right: 8px;
}

.container
    :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4)
    fieldset:global(.form-columns-3)
    :global(.hs-form-field) {
    width: 32.7%;
    float: left;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) fieldset:global(.form-columns-3) :global(.input) {
    margin-right: 8px;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) label:global(.hs-hidden) {
    visibility: hidden;
}

.container :global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4) :global(.hs-field-desc) {
    width: 100%;
}

.container :global(.hs-custom-style) > div:global(.form-columns-3) :global(.hs-form-field),
.container :global(.hs-custom-style) fieldset:global(.form-columns-3) :global(.hs-form-field) {
    width: 33.3%;
}

.container
    :global(.hs-custom-style)
    > div
    > div:last-of-type
    :global(.hs-input):not([type='checkbox']):not([type='radio']),
.container
    :global(.hs-custom-style)
    fieldset
    > div:last-of-type
    :global(.hs-input):not([type='checkbox']):not([type='radio']) {
    width: 100%;
    max-width: 100%;
}

.container
    :global(.hs-custom-style)
    > div
    input:not([type='image']):not([type='submit']):not([type='button']):not([type='radio']):not([type='checkbox']):not([type='file']),
.container
    :global(.hs-custom-style)
    fieldset
    input:not([type='image']):not([type='submit']):not([type='button']):not([type='radio']):not([type='checkbox']):not([type='file']) {
    box-sizing: border-box;
    padding: 0 15px;
    min-height: 27px;
}

.container :global(.hs-custom-style) > div textarea,
.container :global(.hs-custom-style) fieldset textarea {
    padding: 10px 15px;
}

.container
    :global(.hs-custom-style)
    :global(.hs-dependent-field)
    > div
    :global(.hs-input):not([type='checkbox']):not([type='radio']) {
    width: 100%;
}

@media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
    .container :global(.hs-custom-style) :global(.hs-input):not([type='checkbox']):not([type='radio']),
    .container :global(.hs-custom-style) fieldset {
        margin-right: 0 !important;
        width: 100% !important;
    }

    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-2)
        :global(.hs-form-field),
    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-3)
        :global(.hs-form-field) {
        float: none;
        width: 100%;
    }

    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-2)
        :global(.hs-form-field)
        :global(.hs-input),
    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-3)
        :global(.hs-form-field)
        :global(.hs-input) {
        width: 95%;
    }

    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-2)
        :global(.hs-form-field)
        input[type='checkbox'],
    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-2)
        :global(.hs-form-field)
        input[type='radio'],
    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-3)
        :global(.hs-form-field)
        input[type='checkbox'],
    .container
        form:global(.hs-form-e090296f-84f5-4bcb-9093-a533336841b4):not(:global(.hs-video-form))
        :global(.form-columns-3)
        :global(.hs-form-field)
        input[type='radio'] {
        width: auto;
    }
}

.container :global(.legal-consent-container) :global(.field):global(.hs-form-field) {
    margin-bottom: 8px;
}

.container :global(.legal-consent-container) :global(.hs-field-desc):global(.checkbox-desc) {
    margin: -12px 0 0 21px;
}

.container :global(.legal-consent-container) :global(.hs-form-booleancheckbox-display) input {
    float: left;
}

.container :global(.legal-consent-container) :global(.hs-form-booleancheckbox-display) > span {
    display: block;
    margin-left: 20px;
}

.container :global(.legal-consent-container) :global(.hs-form-booleancheckbox-display) p {
    margin: 0;
    display: inline;
}

.container :global(.legal-consent-container) :global(.hs-error-msgs) label {
    color: var(--sg-color-vermillion-400);
}

.container :global(.legal-consent-container) ~ :global(.hs_recaptcha) {
    margin-top: 18px;
}

.container :global(.cookie-reset-container) {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
}

.container :global(#hs-outer-captcha-target),
.container :global(#hs-outer-captcha-target) * {
    display: none;
    height: 0;
    width: 0;
}

.container :global(.hubspot-link__container) {
    font-size: 14px;
    padding-bottom: 40px;
    position: relative;
    color: #9fa0a2;
}

.container :global(.hubspot-link-text) {
    color: var(--sg-color-violet-400);
    font-weight: 400;
}

.container :global(.hubspot-link__container):global(.sproket) {
    color: #9fa0a2;
}

.container :global(.hubspot-link) {
    color: #9fa0a2;
}

.container :global(.hubspot-link),
.container :global(.hubspot-link):hover {
    text-decoration: none;
}

.container :global(.hubspot-link):hover :global(.hubspot-link-text) {
    text-decoration: underline;
}

.container :global(.hubspot-link__icon) {
    margin-bottom: -1px;
    margin-right: 5px;
}

.container :global(.hubspot-link__container):global(.sproket) :global(.hubspot-link__icon) {
    width: 30px;
    margin-right: 0;
    float: left;
    margin-top: -9px;
    margin-left: -5px;
}

.container p {
    margin-bottom: 10px !important;
}
