.query {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    border-radius: 3px;
    background-color: #f9fafb;
    font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;

    @media only screen and (max-width: 768px) {
        word-break: break-word;
    }
}
