.case-studies {
    h2 {
        font-size: 28px;
    }

    &__wrapper {
        width: 66.667%;
        margin: auto;
        max-width: 740px; // Copied from medium.com
    }

    &__title {
        &--rule {
            margin: 25px 0;
        }
    }

    &__logo {
        margin: 0 0 2rem 0;
        height: 3rem;
    }

    &__quote {
        margin-bottom: 2rem 0 2rem 0;

        .container {
            margin: 2rem 0 0 2rem;
        }

        p {
            text-indent: 0.4em;
            font-weight: 700;
            color: #212529;
            font-size: 36px;
            line-height: 1;
            letter-spacing: -0.015em;

            &:before {
                text-indent: -0.4em;
                content: "“";
                position: absolute;
                margin-left: -2px;
            }

            &:after {
                content: "”";
                margin-left: 2px;
            }
        }

        footer {
            margin-top: 2rem;
            font-size: 18px;
            font-weight: 400;
            text-indent: -0.9rem;
        }

        &--in-content {
            margin: 2rem 0;

            p {
                font-weight: 500;
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }
}
