.about {
    &__jumbotron {
        margin-bottom: 0;
    }

    &__plan {
        padding: 3rem 0;
        background-color: $light-gray-2;
        &-container {
            background-color: #ffffff;
            padding: 2rem 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    &__founders {
        padding: 3rem 0;
        &-social {
            margin-bottom: 1rem;
            .icon {
                margin-right: 0.5rem;
            }
        }

        &-board {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            padding: 0;

            &-member {
                border-radius: 0.25rem;
                padding-right: 1rem;
                margin: 0 0 1rem 1rem;
                background: $light-gray-3;
                display: flex;
                img {
                    margin-bottom: 0;
                    height: 4rem;
                    width: 4rem;
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                }
            }
        }
    }

    &__investors {
        padding: 3rem 0;
        img {
            width: 100%;
            padding: 0 2rem;
            margin: 1rem 0;
        }
    }
}
