.blog {
    color: $dark-7;

    &__head {
        flex-direction: column;
        text-align: center;
        padding: 1rem 0.5rem;
    }

    &__posts {
        &--container {
            padding: 2.5rem 0 2.5rem 0;
            border-bottom: 1px solid $light-11;
            &:hover {
                background-color: $light-11;
                transition: background-color 0.25s ease-in;
            }
        }

        &--post {
            color: $dark-7;
            display: grid;
            grid-template-columns: auto minmax(min-content, 350px) minmax(min-content, 600px) auto;

            width: 100%;

            &-image {
                grid-column-start: 2;
                grid-row-start: 1;
            }

            &-text {
                grid-column-start: 3;
                grid-row-start: 1;
            }

            &-excerpt {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            &-byline {
                opacity: 0.7;
            }

            &-readmore {
                color: $blue-7;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    &__link-inactive {
        color: $dark-7;
        font-weight: bold;
        &:hover {
            color: inherit;
            cursor: auto;
        }
    }

    .subscription-grid {
        display: grid;
        grid-template-columns: 30% 70%;
        max-width: 990px;
    }

    .grid-item-1 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .grid-item-2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background-color: white;
    }

    .grid-image {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .blog {
        .subscription-grid {
            display: block;
        }
        .grid-item-2 {
            display: none;
        }
    }
}

#gopherConForm {
    justify-content: center;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
table td,
table th {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    background-color: #fff;
}
table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}
table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
table {
    background-color: #fff;
}
