// stylelint-disable declaration-property-unit-whitelist
.blog-post {
    margin: auto;
    // FIXME(#125): temporary solution to text running over.
    // width: 980px;
    padding: 45px 0;

    &__wrapper {
        width: 66.667%;
        margin: auto;
        max-width: 740px; // Copied from medium.com
    }

    @media (max-width: 768px) {
        &__wrapper {
            width: 85%;
        }
    }

    &__title {
        &--rule {
            margin: 25px 0;
        }
    }

    &__body {
        p {
            margin: 1rem 0;
        }
        li > p:first-child,
        li > p:last-child {
            margin: 0;
        }

        p + h1,
        ul + h1,
        ol + h1,
        p + h2,
        ul + h2,
        ol + h2,
        p + h3,
        ul + h3,
        ol + h3,
        p + h4,
        ul + h4,
        ol + h4,
        p + h5,
        ul + h5,
        ol + h5,
        p + h6,
        ul + h6,
        ol + h6,
        h2 + ul,
        h2 + ol,
        h3 + ul,
        h3 + ol,
        h4 + ul,
        h4 + ol,
        h5 + ul,
        h5 + ol,
        h6 + ul,
        h6 + ol {
            margin-top: 1.4em;
        }

        h1,
        h2,
        h3,
        h4 {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        h4 {
            font-size: 1.25rem;
        }

        img {
            max-width: calc(100% - 10px);
            max-height: 100vh;
            box-shadow: 0 4px 18px 0 #0000001a, 0 6px 20px 0 #00000017;
            margin: 40px auto;
            display: block;
            vertical-align: middle;
            border-style: none;
        }

        .liveblog-presenters {
            &__name {
                display: block;
                font-size: 1.1rem;
                font-weight: 600;
            }

            .fa {
                color: $dark;
                font-size: 2rem;

                &.fa-linkedin {
                    color: #0077b5;
                }

                &.fa-twitter {
                    color: #1da1f2;
                }

                &.fa-github {
                    color: #211f1f;
                }
            }
        }
    }

    &__footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    p > code[class*='language-'],
    a > code[class*='language-'],
    h1 > code[class*='language-'],
    h2 > code[class*='language-'],
    h3 > code[class*='language-'],
    h4 > code[class*='language-'],
    li > code[class*='language-'],
    strong > code[class*='language-'] {
        background-color: #f2f4f8;
        color: #2d2d2d;
        display: inline-block;
        padding: 0.1rem 0.3rem;
        font-size: 0.9em;
    }
}

.blog-posts-home {
    .card {
        height: 100%;
    }

    &__thumbnail {
        width: auto;
        max-height: 200px;
    }

    @media (max-width: 819px) {
        &__post:not(:first-child) {
            margin-top: 2rem;
        }
    }
}
