.browser {
    padding: 3rem 0;
    &__card {
        margin: 0 5rem 2rem 0;
        border-color: $blue-1;
        border-radius: 0.5rem;
        padding: 0;

        &--paid {
            background-color: $dark-7;
            color: $light-11;
            border-radius: 0.5rem;
            h2 {
                margin: 0;
            }
        }

        &-list {
            margin-bottom: 0;
            &-heading {
                background-color: $blue-1;
                padding: 2rem 0;
                text-align: center;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                h5 {
                    color: $blue-9;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 2px;
                    margin: 0;
                }

                &--paid {
                    background-color: $dark-9;
                    h5 {
                        color: $light-5;
                    }
                }
            }

            &-item {
                display: flex;
                align-items: center;
                padding: 1rem;

                &:last-child {
                    flex-direction: column;
                    .btn {
                        width: 100%;
                        .material-icons {
                            width: 32px;
                            font-size: 24px;
                            line-height: 32px;
                            margin: 0 0 0 4px;
                        }
                    }
                    small {
                        margin-top: 0.5rem;
                    }
                }

                &-icon {
                    min-width: 2.5rem;
                    height: 2.5rem;
                    background-color: $blue-0;
                    border-radius: 1.4rem;
                    text-align: center;
                    margin-right: 0.5rem;
                    svg {
                        height: 100% !important;
                        path {
                            fill: $blue-5;
                        }
                    }
                    &--paid {
                        background-color: $dark-5;
                        svg path {
                            fill: $light-5;
                        }
                    }
                }
            }
        }
    }
}
