.careers {
    h1 {
        font-size: 2.25rem;
        line-height: 2.8rem;
    }

    .heroImage {
        width: 100%;
        max-width: 1500px;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.75rem;
        font-weight: bold;
    }

    .benefits {
        h3 {
            font-size: 1.15rem;
            line-height: 1.4rem;
        }
        p {
            line-height: 1.25rem;
        }
    }

    .handbook-benefits-link {
        text-decoration: underline;
        color: $sg-space-black;
    }

    .icon {
        width: 45px;
        height: 45px;
    }

    .culture {
        width: 100%;
        max-width: 1500px;
    }

    .aligned {
        margin-top: 400px;
    }

    .v-aligned {
        margin-top: 340px;
    }

    .contact p {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
}
