.code-insights-page {
    &__hero-and-header {
        background-image: url('/code-insights/code-insights-illustration.svg'), url('/code-insights/code-insights-page-bg.svg'),
            // Fallback while the SVGs are loading
            radial-gradient(ellipse at bottom right, rgba($blue-mist, 0.5), transparent),
            radial-gradient(ellipse at bottom left, rgba($light-green2, 0.5), transparent);
        background-repeat: no-repeat, no-repeat;
        background-position: center right, top left;

        h4 {
            font-weight: 400;
        }
    }

    .mdi-icon {
        border-radius: 40%;
        padding: 1rem;
        background-color: $white;
        color: $cyan-2;
    }

    .custom-carousel {
        transition: background-color 0.5s ease;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }

        li {
            font-size: 1.5rem;
            line-height: 1.4rem;
        }

        p {
            font-size: 1.125em;
            line-height: 1.75rem;
        }

        .panel {
            flex: 0 0 50%;
        }

        &.set-height {
            height: 900px;

            @media only screen and (max-width: 768px) {
                height: auto;
            }
        }
    }
}
