.community-page {
    &__hero-and-header {
        background-image: url('/community/hero_background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: top left;
    }
}

.hero_img {
    width: 100%;
    margin-top: 100px;
}

.cheatsheet_img {
    max-width: 75%;
}

.sg_champion_img {
    width: 100%;
}
