.content-page {
    &__title {
        text-align: center;
        padding: 2rem;
        border-bottom: 1px solid $light-11;
        background-color: $light-11;
    }

    &__body {
        max-width: 64em;
        padding: 2rem 1rem;
        margin: auto;
        h2 {
            margin-top: 0.5rem;
        }
        p,
        ul,
        ol {
            margin-bottom: 2rem;
        }
    }
}
