.dtt-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
}

.dtt-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    max-width: 80%;
}

.dtt-logo {
    flex: 1;
    max-width: 10rem;
}

.dtt-description {
    flex: 1;

    p {
        font-size: larger;
    }
}

.dtt-upcoming h2 {
    font-size: 1.5rem;
}

.featured-episode-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    @include media-breakpoint-down(sm) {
        flex-flow: column;
    }
}

.featured-episode {
    flex: 1;
}

.hubspot-form {
    margin-bottom: 2rem;
}
