.dtt-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
}

.dtt-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
}

.dtt-logo {
    flex: 1;
    max-width: 10rem;
}

// styles targeting mobile portrait view
@media (max-width: 568px) {
    .dtt-brand {
        max-width: 100%;
    }

    .dtt-logo {
        display: none;
    }

    .upcoming-content {
        flex-direction: column-reverse;
    }

    // .upcomning-profile {
    //     max-width: 80%;
    //     margin: auto;
    // }
}

.dtt-description {
    flex: 1;

    p {
        font-size: larger;
    }
}

.dtt-upcoming h2 {
    font-size: 1.5rem;
}

.upcoming-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
    }
}

.upcoming-description {
    flex: 1;
    max-width: 66.66%;
}

.upcoming-details {
    font-weight: bold;
}

.upcoming-profile-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.upcoming-profile {
    height: 100%;
    margin-left: -25%;
}

.featured-episode-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    @include media-breakpoint-down(sm) {
        flex-flow: column;
    }
}

.featured-episode {
    flex: 1;
}

.hubspot-form {
    margin-bottom: 2rem;

    h2 {
        font-size: 1.5rem;
    }
}
