textarea {
    font-family: 'IBM Plex Mono';
    font-size: 0.8rem;
    width: 100%;
    outline: none;
    resize: none;
    background-color: $light-11;
}
.installtext {
    position: relative;
}
.copytext {
    position: absolute;
    right: 0;
    margin: 2px;
}
