// stylelint-disable declaration-property-unit-whitelist
// stylelint-disable selector-class-pattern
// stylelint-disable selector-max-id
.home {
    &__intro {
        @include media-breakpoint-down(sm) {
            $margin-y: 2.5rem;
            margin-top: $margin-y;
            margin-bottom: $margin-y;
        }
        @include media-breakpoint-only(md) {
            $margin-y: 5rem;
            margin-top: $margin-y;
            margin-bottom: $margin-y;
        }
        @include media-breakpoint-up(lg) {
            $margin-y: 6rem;
            margin-top: $margin-y;
            margin-bottom: $margin-y;
        }

        &-header {
        }
        &-text {
            font-weight: $font-weight-light;
            strong {
                font-weight: $font-weight-base;
            }
            font-size: $font-size-base * 1.1;
            &-link {
                color: unset;
                border-bottom: solid 1px transparent;
                &-1 {
                    border-bottom-color: $brand-purple;
                    &:hover {
                        color: $brand-purple;
                    }
                }
                &-2 {
                    border-bottom-color: $brand-cyan;
                    &:hover {
                        color: $brand-cyan;
                    }
                }
                &-3 {
                    border-bottom-color: $brand-orange;
                    &:hover {
                        color: $brand-orange;
                    }
                }

                &:hover {
                    text-decoration: none;
                    @include transition($btn-transition);
                }
            }
        }
    }
}
