.home {
    &__semiwide-paragraph {
        max-width: 40rem;
    }

    &__intro {
        &-text {
            font-weight: $font-weight-light;
            strong {
                font-weight: $font-weight-base;
            }
            font-size: $font-size-base * 1.1;
        }
    }

    &__screenshot {
        max-width: 100%;
        height: 400px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25)), url('/screenshots/search-page-single-image.png');
        background-size: cover;
    }
    &__diagram {
        width: 100%;
    }
}
