.home {
    &__semiwide-paragraph {
        max-width: 40rem;
    }

    &__intro {
        &-text {
            font-weight: $font-weight-light;
            strong {
                font-weight: $font-weight-base;
            }
            font-size: $font-size-base * 1.1;
        }
    }

    &__nested-screenshots {
        position: relative;
    }
    &__screenshot {
        box-shadow: 5px 5px 18px 5px rgba(150, 150, 190, 0.35);
        border-radius: 0.5rem;
        border: solid 1px $border-color;
        &--main {
            max-width: 60%;
            margin-top: 3rem;
            margin-left: 40%;
            z-index: 1;
        }
        &--nested {
            max-width: 48%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    &__diagram {
        width: 100%;
    }
}
