// stylelint-disable declaration-property-unit-whitelist
.jobs {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__container {
        margin: auto auto;
        padding: 2rem 1rem;
        text-align: center;
        width: 100%;
    }

    &__head {
        &-description {
            max-width: 30em;
            margin: 2rem auto;
        }

        &-button {
            margin: auto auto;
            background: $teal-7;
            color: $light-12;
        }
    }

    &__benefits {
        background: $dark-8;
        color: #ffffff;

        &-list {
            display: flex;
            max-width: 64rem;
            margin-left: auto;
            margin-right: auto;

            &-item {
                display: flex;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                flex-grow: 1;
                text-align: left;
                font-size: 0.875rem;

                &-icon {
                    margin-right: 1rem;
                    align-self: baseline;
                }

                &-title {
                    font-size: 0.875rem;
                    margin: 0;
                }

                &-description {
                    font-size: 0.875rem;
                    margin: 0 auto;
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 20em;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            &-list {
                flex-direction: column;
                align-items: center;
                &-item {
                    font-size: 1rem;
                    &-title {
                        font-size: 1rem;
                    }
                    &-description {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &__work {
        background: $light-10;
        color: #000000;

        @media only screen and (max-width: 768px) {
            .jobs__container {
                p {
                    line-height: 30px;
                }
            }
        }
    }

    &__positions {
        background: $light-11;
        color: #000000;

        &--title {
            margin: auto auto;
            max-width: 30rem;
            text-align: left;
        }
        &--dept {
            max-width: 30em;
            border-left: 1px solid $light-10;
            border-top: 1px solid $light-10;
            border-right: 1px solid $light-10;
            border-radius: 0.25rem;
            background: $light-12;
            margin-top: 1rem;

            &-container {
                padding: 1rem;
                background: $light-12;
                border-bottom: 1px solid $light-10;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
        }

        &--entry {
            display: flex;
            flex-wrap: nowrap;
            padding: 1rem;
            justify-content: space-between;
            color: $blue-7;
            border-bottom: 1px solid $light-10;
            align-items: center;

            &-button {
                text-decoration: none;
                transition: opacity 0.15s ease-in;
                padding: 0.5rem 1rem;
                color: $light-12;
                background: $blue-7;
                border-radius: 0.25rem;
                height: 50%;
                margin-left: 0.5rem;
            }
        }
    }
}
