.news {
    &__item {
        border-bottom: 1px solid #ccc;
    }
    &__image {
        width: 100%;
        max-width: 150px;
	margin-bottom: 1rem;
    }
   &__date {
	font-size: 0.9em;
	margin-left: .5em;
	opacity: .7;
    }
}
