// stylelint-disable declaration-property-unit-whitelist
.plan {
    &__title {
        background: $light-11;
        padding: 2rem auto;
        text-align: center;
        h2 {
            margin-bottom: 0;
        }
    }

    &__body {
        width: 100%;
        padding: 1.5rem 4rem;
        &-light-11 {
            background: $light-11;
        }
        &-light-10 {
            background: $light-10;
        }
        &-light-7 {
            background: $light-7;
        }
        &-light-8 {
            background: $light-8;
        }
        @media (max-width: $media-sm) {
            padding: 1.5rem 2rem;
        }
    }

    &__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 64em;
    }

    &__p-title {
        font-size: 1.25rem;
        font-weight: bold;
        @media (min-width: $media-lg) {
            margin-left: -2rem;
        }
    }

    &__blockquote {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0;
        margin: 20px auto;
        @media (min-width: $media-lg) {
            margin-left: -2rem;
            margin-right: -2rem;
        }
    }

    &__floating-block {
        padding: 2rem;

        @media (min-width: $media-lg) {
            margin-left: -2rem;
            margin-right: -2rem;
        }

        &--white {
            background: $light-12;
        }

        &--dark {
            background: $dark-7;
            color: $light-12;
            border-radius: 1rem;
            padding-left: auto;
            li:first-child {
                margin-top: 0;
            }
            li:last-child {
                margin-bottom: 0;
            }
        }

        &--pill {
            border-radius: 9999px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            float: right;
            padding: 0.5rem 1rem;
            margin: 2rem;
            margin-right: 0.5rem;
            color: $yellow-9;
            background: $yellow-1;
        }
    }

    &__pill {
        &-list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0.5rem;
            margin-left: -2rem;

            @media (min-width: $media-lg) {
                padding: 0;
            }
        }
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        background: $light-12;
        margin: 0.5rem;
    }

    &__list {
        list-style-type: none;
    }

    &__list-item {
        &--bordered {
            border-bottom: 1px solid $light-7;
            &-light-5 {
                border-color: $light-5;
            }
        }
        padding: 0.5rem;
    }

    &__card {
        background: $light-12;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
    }

    /* Zig-zags */
    &__zigzag {
        position: relative;
        &::before {
            background: linear-gradient(-135deg, $light-11 16px, transparent 0),
                linear-gradient(135deg, $light-11 16px, transparent 0);
            background-position: left-bottom;
            background-repeat: repeat-x;
            background-size: 32px 32px;
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 32px;
        }
        &::after {
            background: linear-gradient(-45deg, $light-11 16px, transparent 0),
                linear-gradient(45deg, $light-11 16px, transparent 0);
            background-position: left-bottom;
            background-repeat: repeat-x;
            background-size: 32px 32px;
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 32px;
        }
    }
    &__z-l8::before {
        background: linear-gradient(-135deg, #bcc9dc 16px, transparent 0),
            linear-gradient(135deg, #bcc9dc 16px, transparent 0);
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 32px 32px;
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32px;
    }
    &__z-l8::after {
        background: linear-gradient(-45deg, #bcc9dc 16px, transparent 0),
            linear-gradient(45deg, #bcc9dc 16px, transparent 0);
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 32px 32px;
        content: ' ';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 32px;
    }

    .top-1 {
        top: 1rem;
    }
}
