.podcast {
    background-color: black;
    border-bottom: 3px solid $dark-5;

    a {
        color: $blue-3;
    }

    padding-bottom: 5em;

    &.podcast-no-bottom-line {
        border-bottom: 0;
    }

    &__subscribe {
        text-align: center;
        border-top: 1px solid $dark-5;
        color: $orange-9;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        &-highlight {
            font-weight: bold;
        }
        &-option {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            display: inline-block;
            margin-left: 0.85em;
        }
        a {
            color: $orange-9;
        }
    }

    &__content-option {
        margin: 1.5em 0 1.5em 0;
        color: $grape-7;
        a {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-right: 1em;
            padding-left: 1em;
            color: $grape-7;

            &:first-child {
                margin-left: -1em;
            }
            border: 1px solid transparent;
            border-radius: 0.5em;
        }
        a.podcast__content-option-selected {
            text-shadow: 0 0 .9px $grape-7, 0 0 .9px $grape-7;
            border: 1px solid $grape-7;
            box-sizing: border-box;
        }
    }

    &__episode {
        margin: auto auto 7em auto;
        padding-top: 5em;
        border-top: 1px solid $dark-5;
    }

    &__icon {
        height: 1em;
    }

    &__backtoall {
        margin-top: -0.5em;
        margin-bottom: -1em;
        a {
            color: $dark-3;
        }
    }

    &__title {
        font-size: 2.5em;
        margin: 0.5em auto 0.5em auto;
        font-weight: 100;
        color: $orange-9;
        a {
            color: $orange-9;
        }
        a:hover {
            text-decoration: none;
            border-bottom: 2px solid $orange-9;
        }
    }

    &__people {
        text-transform: uppercase;
        color: $light-1;
    }

    &__date {
        color: $dark-3;
    }

    &__player {
        margin: 1em auto 1em auto;
        audio {
            filter: saturate(100%) invert(90%);
        }
    }

    &__description {
        color: $light-7;
        margin-top: 1em;
        line-height: 1.5;

        &-emphasis {
            font-weight: bold;
        }
    }

}
