.pricing-page {
    &__plans,
    &__compare {
        max-width: var(--breakpoint-lg);
        margin: 0 auto;
    }

    &__quote-link {
        &:hover {
            text-decoration: none;
        }
    }

    &__quote {
        margin: 0 auto;
        padding: 0 2.5rem;

        img {
            max-width: 150px;
            filter: brightness(0%);
        }

        p {
            text-indent: 0.4em;
            font-size: 1.5rem;
            line-height: 1.2;
            letter-spacing: -0.015em;

            &::before {
                text-indent: -0.4em;
                content: '“';
                position: absolute;
                margin-left: -2px;
            }

            &::after {
                content: '”';
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.9rem;
            }
        }
        a {
            font-size: 1rem;
        }
        footer {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 400;

            &::before {
                display: none;
            }
        }

        &--in-content {
            margin: 2rem 0;

            p {
                font-weight: 600;
                font-size: 1.375rem;
                line-height: 2.125rem;
            }
        }
    }
}
