.pricing-page {
    &__plans,
    &__compare {
        max-width: var(--breakpoint-lg);
        margin: 0 auto;
    }

    &__quote-link {
        &:hover {
            text-decoration: none;
        }
    }
}
