// contact sales
.sales {
    max-width: 72rem;
    padding: 2rem;
    margin: auto auto;

    // Hubspot form style overrides - child selectors + non-BEM OK
    /* stylelint-disable */
    .form {
        max-width: 56em;
        margin: auto auto;

        .hs-form,
        .hs-input,
        .hs-form-field {
            width: 100%;
            textarea.hs-input,
            input.hs-input {
                width: 100%;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
                    sans-serif 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                font-size: 1em;
                max-width: none;
                height: 2.5rem;
                font-size: 1em;
                line-height: 1.5em;
                border: 1px solid $light-gray-1;
                border-radius: 4px;
                padding: 0.5rem;
                box-shadow: none !important;
                box-sizing: inherit !important;
            }
            .hs-button {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-size: 1em;
                line-height: 1.5em;
                box-sizing: inherit !important;
                border: none !important;
                box-shadow: none !important;
                width: 100%;
                &:hover,
                &:active {
                    border: none !important;
                    box-shadow: none !important;
                }
                &.primary {
                    background: #ae3ec9;
                    text-shadow: none;
                    &:active,
                    &:hover {
                        background: #cc5de8;
                    }
                }
            }
        }

        .hs_submit {
            .actions {
                margin: 0;
                padding: 1em 0 0 0;
            }
        }

        .submitted-message {
            margin: 1rem 0;
            padding: 2rem;
            color: $green-9;
            background-color: $green-1;
            border-radius: 0.3em;
            border: 1px solid $green-5;
        }
    }

    .panel {
        background: $light-gray-2;
        border-radius: 0.5rem;
        padding: 2rem;
        &__help {
            border-top: 1px solid $light-9;
            padding-top: 1rem;
        }
    }
}
