.uninstall {
    &__header {
        text-align: center;
        padding: 1.5rem 0;
    }

    &__body {
        padding: 1.5rem;
        margin: 0 auto;
        max-width: 34em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        margin: 0 auto;
    }
}
