.use-cases-page {
    &__header-and-hero {
        background: url('/customers-page-bg.svg') no-repeat;
        background-size: cover;
    }
    &__see-how {
        font-size: 1.25rem;
    }
    .list-group-item {
        background-color: rgba(255, 255, 255, 0.75);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
