.community-page {
    &__hero-and-header {
        background-image: url('/community/hero_illustration.svg'), url('/community/hero_background.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: auto 40%, 100% 100%;
        background-position: center right 15%, top left;
    }
}
.cheatsheet_img {
	max-width: 75%;
}

.sg_champion_img {
	width: 100%;
}
