/* Line break that is only visible, but not copy-pasted. Used for terminal commands. */
.virtual-br::before {
  content: '\A';
}

time, abbr[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #a6b6d9;
  text-underline-offset: 0.2em;
  cursor: help;
}

.pre-wrap {
  white-space: pre-wrap;
}

.text-center {
  text-align: center;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  tab-size: 2;
}

.markdown-body .pl-c {
  color: #6a737d;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #005cc5;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #6f42c1;
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  color: #24292e;
}

.markdown-body .pl-ent {
  color: #22863a;
}

.markdown-body .pl-k {
  color: #d73a49;
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #032f62;
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
  color: #e36209;
}

.markdown-body .pl-bu {
  color: #b31d28;
}

.markdown-body .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.markdown-body .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.markdown-body .pl-c2::before {
  content: '^M';
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.markdown-body .pl-ml {
  color: #735c0f;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #24292e;
}

.markdown-body .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.markdown-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.markdown-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.markdown-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.markdown-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.markdown-body .pl-ba {
  color: #586069;
}

.markdown-body .pl-sg {
  color: #959da5;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.markdown-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.markdown-body a {
  background-color: transparent;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown-body img {
  border-style: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: var(--font-family-code);
  font-size: 1em;
}

.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdown-body input {
  font: inherit;
  margin: 0;
}

.markdown-body input {
  overflow: visible;
}

.markdown-body [type='checkbox'] {
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-body hr::before {
  display: table;
  content: '';
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code {
  font-family: var(--font-family-code);
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-family-code);
  font-size: 12px;
}

.markdown-body .octicon {
  vertical-align: text-bottom;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .pl-3 {
  padding-left: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body::before {
  display: table;
  content: '';
}

.markdown-body::after {
  display: table;
  clear: both;
  content: '';
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}

.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .anchor {
  position: relative;
  opacity: 0;
}

.markdown-body .anchor::before {
  content: '#';
  position: absolute;
  padding-left: 5px;
  padding-right: 3px;
  right: 0;
  top: 0.1em;
  font-size: 0.9em;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body aside {
  padding: 0.65em 0.9em 0.55em;
  margin-bottom: 1em;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.markdown-body aside > :first-child {
  margin-top: 0;
}
.markdown-body aside > :last-child {
  margin-bottom: 0;
}
.markdown-body aside.note {
  border-color: #bce8f1;
  background-color: #d9edf7;
  color: #26607c;
}
.markdown-body aside.warning {
  border-color: #faebcc;
  background-color: #fcf8e3;
  color: #70572b;
}

.markdown-body :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body :is(h1, h2, h3, h4, h5, h6, th):hover .anchor {
  text-decoration: none;
  opacity: 1;
}

.markdown-body h1, .markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

/* Brand Guideline H3 + bottom border. Anything larger would be too large/long for the page title. */
.markdown-body h1 {
  font-size: 1.875;
}

/* Deviation from Brand Guidelines, in between H3 and H4. */
.markdown-body h2 {
  font-size: 1.75rem;
}

/* Brand Guideline H4. */
.markdown-body h3 {
  font-size: 1.5rem;
}

/* Brand Guideline H5 (last level in guidelines) */
.markdown-body h4 {
  font-size: 1.25rem;
}

/* Same size as paragraphs, but still semibold */
.markdown-body h5 {
  font-size: 1rem;
}

/* Same size as paragraphs, semibold, lighter color */
.markdown-body h6 {
  font-size: 1rem;
  color: #6a737d;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  width: 100%;
  overflow: auto;
}

/* Can be applied to <th> table header cells */
.sticky {
  position: sticky;
  top: calc(var(--header-height) - 1px);
  z-index: 2;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown-body img[align='right'] {
  padding-left: 20px;
}

.markdown-body img[align='left'] {
  padding-right: 20px;
}

.markdown-body .drop-shadow {
  max-width: calc(100% - 10px);
  max-height: 100vh;
  box-shadow: 0 4px 18px 0 #0000001a, 0 6px 20px 0 #00000017;
  margin: 40px auto;
  display: block;
  border-style: none;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body .pre-wrap pre {
  white-space: pre-wrap !important;
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.markdown-body hr {
  border-bottom-color: #eee;
}

/*

Visibility classes:

  .visible-docsite: Only visible on docs.sourcegraph.com.

  .visible-product: Only visible on Sourcegraph in-product /help.

*/
body.is-docsite .visible-docsite {
}
body.is-docsite .visible-product {
  display: none;
}
body:not(.is-docsite) .visible-docsite {
  display: none;
}
body:not(.is-docsite) .visible-product {
}

.markdown-body .usage {
  display: grid;
  grid-template-areas:
    'left'
    'right';
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 24px;
  margin-top: 24px;
}

@media (min-width: 900px) {
  .markdown-body .usage {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
  }
}

.markdown-body .usage .item {
  padding: 24px 24px 12px 24px;
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.markdown-body .usage .item h5 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1;
  margin: 0;
}

.markdown-body .usage .item.yes {
  border-top: 2px solid var(--sg-action-green);
}

.markdown-body .usage .item.no {
  border-top: 2px solid var(--sg-alert-red);
}

.markdown-body .usage .item ul {
  padding-left: 16px;
  margin-top: 8px;
}

.markdown-body .usage .item ul li {
  margin-top: 8px;
  line-height: 1.4;
}

.markdown-body .tone-sample {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-left: 2px solid var(--sg-blurple);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.markdown-body .tone-sample h3 {
  margin-top: 0;
}
