/* Notebook Markdown */

a.language-sourcegraph-link {
    color: blue;
}

pre.chroma.sourcegraph {
    border: 1px solid green;
    white-space: normal;
}

pre.chroma.sourcegraph pre.chroma {
    white-space: normal;
}
