.container :global(.hs-input) {
    background: var(--sg-color-black) !important;
    padding: 14px 16px;
    border: 1px solid var(--sg-color-gray-500);
    border-radius: 5px;
    color: var(--sg-color-white);
    width: 100%;
    max-width: 411px;
}

.container :global(.hs-email) {
    margin-bottom: 0px;
}

.container :global(.actions) {
    margin-bottom: 0px;
    padding: 0px;
}

.container :global(.submitted-message) {
    color: var(--sg-color-white);
}